@charset "UTF-8";

@import "../../../assets/scss_default/variables";
html, body {
	scroll-behavior: auto;
}
.ia_wrap {
	display: flex;
	min-height: 100%;
	// min-width:137.5rem;
	background-color: #f6f6f6;

	iframe {
		position:sticky;
		left:0;
		top:0;
		flex: none;
		width: 375px;
		height: 760px;
		background-color: #fff;
	}

	.ia_container {
		flex: 1 1 auto;
		width: 100%;
		// min-width:100rem;
		padding: 0px 20px 30px;
		.g_gnb_area {
			position: sticky;
			top:0;
			z-index:100;
			width:100%;
			height:80px;
			display:flex;
			align-items: flex-start;
			background-color: #f6f6f6;
			padding:20px 0;
			.g_gnb {
				flex:none;
				margin-right:20px;
				.ui.button {
					display:inline-flex;
					justify-content: center;
					align-items: center;
					width:80px;
					height:40px;
					padding:0;
					font-weight: 700;
					margin-right: 6px;
					background-color: #999;
					color:#fff;
					font-size:1.6rem;
					&.is_active {
						background-color: $ColorPrimary;
					}
				}
			}
			.g_menu {
				padding-top:10px;
				a {
					display:inline-block;
					padding:6px;
				}
			}
		}

		.ui.vertical.menu {
			width: 100% !important;

			.page-list-menu {
				padding: 14px 0 !important;
				height: 50px;

				.item {
					margin-right: 15px;
					font-size: 12px !important;
					color: #6c788f;

					a {
						font-weight: bold;
					}

					&:hover {
						color: #222;
					}
				}
			}
		}

		.table {
			margin-top:0;
			thead th {
				font-size: 14px;
				background: #666 !important;
				color: #fff !important;
			}

			tbody tr td {
				font-size: 14px;
				line-height: 1.5;
				vertical-align: middle;
				&:last-child p {
					min-width:100px;
				}
			}

			.table-tit {
				background: #e4e9f3;
				border-top: 2px solid #777;
				border-bottom: 1px solid #777;
			}

			.link-address a {
				color: #666;
			}
			.bg_latest{
				td {
					background:rgba(34,36,38,.1);
				}
			}
			.bg_purple{
				background:rgba(230, 230, 250, 1);
			}
			.bg_yellow {
				background: rgba(255,255,0, 0.3);
			}
			.bg_gray {
				background: rgba(0,0,0, 0.1);
				opacity: 0.6;
			}

			// th:nth-child(2) {
			// 	display:none;
			// }
			td:nth-child(1) {
				cursor: pointer;
			}
		}

		.text-bold {
			font-weight: bold;
		}
		tr.no_link {
			opacity: 0.4;
			pointer-events: none;
		}
	}
	&[data-view='2'],
	&[data-view='3'],
	&[data-view='4'] {
		iframe {display:none;}
	}
	&[data-view='3'],
	&[data-view='4'] {
		iframe {display:none;}
		th:nth-child(3) {display:none;}
		td:nth-child(3) {display:none;}
		col:nth-child(3) {display:none;}
		th:nth-child(4) {display:none;}
		td:nth-child(4) {display:none;}
		col:nth-child(4) {display:none;}
		th:nth-child(5) {display:none;}
		td:nth-child(5) {display:none;}
		col:nth-child(5) {display:none;}
		.ia_container .g_gnb_area {
			display:block;
			height:auto;
		}
	}
	&[data-view='4'] {
		colgroup {display: none;}
		tbody {display:block;}
		tr {display:block;}
		th:nth-child(1) {display:block;}
		th:nth-child(2) {display:none;}
		td:nth-child(1) {display:block; cursor: pointer;}
		td:nth-child(2) {display:none;}
	}
}

// 임시 숨김처리
// .ui.table colgroup col:nth-child(3),
// .ui.table thead tr>th:nth-child(3),
// .ui.table tbody tr>td:nth-child(3) {
// 	display:none;
// }