.divider {
    display: block;
    width:100%;
    height:1.2rem;
    margin:0;
    background:#f2f3f5;
    border:0;
}
.divider2 {
    display: block;
    width:100%;
    height:1.2rem;
    margin:0;
    background:#f8f8fa;
    border:0;
}
.modal_content,
.content_body {
    .divider {
        margin:0 ($GapSideBase * -1);
    }
}
