.divider {
    display: block;
    height:1.2rem;
    margin:0 ($GapSideBase * -1);
    background:#f2f3f5;
    border:0;
}

// Styles
.divider.style1 {
    height:1.2rem;
    margin:0 calc(-1 * $GapSideBase);
    background:#F8F8FA;
    border:0;
}
.divider.style2 {
    height:1.2rem;
    margin:0 calc(-1 * $GapSideBase);
    background:#f2f3f5;
    border:0;
}