// Avata
.avata {
    display:inline-flex;
    justify-content: center;
    align-items: center;
	flex:none;
    overflow: hidden;
    width:8.0rem; /* Demo Size */
    height:8.0rem; /* Demo Size */
    border-radius: 50%;
    vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	background-image: url('../img/icons_80_ic_default_profile.svg');
	img {
		width:100%;
		height:100%;
	}
}

// Thumbnail
.thumb {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	img {
		width:100%;
		height:100%;
	}
}

// No Data
.no_data {
	text-align: center;
	@include FontBody14;
	.tit {
		@include FontTitle16;
	}
	.sub_txt {
		margin-top:0.2rem;
		color:$ColorSubTxt;
	}
	&.error{
		.tit {
			margin : 1rem 0 2rem;
		}
		.image_wrap{
			display: block;
		}
		.btn {
			width: 16rem;
		}
	}
}
.theme_dark {
	.no_data {
		.tit {
			color:#fff;
		}
	}
}

// Result Data
.result_data {
    text-align: center;
    .img {display:block;}
    .img + .msg {margin-top:10px;}
    &.is_successed {
        color: $ColorPositive
    }
    &.is_failed {
        color: $ColorNegative
    }
}

// Cube Circle
.cube_circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width:4rem;
	height:4rem;
	border-radius: 50%;
	background: url('../img/icons_40_ic_guage_00.svg') no-repeat center center / 100% auto;
	@for $i from 0 to 9 {
		&.per#{$i*5}{
			background-image: url("../img/icons_40_ic_guage_0#{$i}.svg");
		}
	}
	@for $j from 10 to 21 {
		&.per#{$j*5}{
			background-image: url("../img/icons_40_ic_guage_#{$j}.svg");
		}
	}
}