// Default
.cube_player {
    position: relative;
    height:20.2rem;
    background-color: #000;
    color:#fff;
    &_sec {
        position: relative;
    }
    // overflow: hidden;
    > img {
        height:100%;
    }
    // 기본노출
    .player_thumb {
        position: absolute;
        width:100%;
        height: 100%;
        z-index: 10;
        .thumb {
            background-size:auto 100%;
        }
    }
    .player_timeline {
        position: absolute;
        left:0;
        bottom:0;
        width:100%;
        z-index: 50;

        .timeline_thumb {
            position:absolute;
            left:0;
            bottom:4rem;
            transform: translateX(-50%);
            display:none;
            .thumb {
                width:14.8rem;
                height:8.4rem;
                border-radius: 1.2rem;
                background-color: #fff;
            }
            .time {
                margin-top:0.8rem;
                text-align: center;
            }
        }
        .timeline_range {
            display: flex;
            width:100%;
            border-radius: 0;
            background-color: transparent;
            -webkit-appearance: none;
            background:linear-gradient(to right, rgba(164, 166, 170, 0.5) 0%, rgba(164, 166, 170, 0.5) 100%);
            pointer-events: none;
            &::-webkit-slider-runnable-track {
                height:0.4rem;
                border: 0;
            }
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                position: relative;
                top:-0.3rem;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color:$ColorPrimary;
                transform: scale(0);
                transition: transform 0.2s ease;
                cursor: pointer;
            }
        }
    }

    // 조건부활성화
    .player_overwrap {
        display:flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: absolute;
        left:0;
        bottom:0;
        width:100%;
        height:100%;
        background-color: rgba(0,0,0,0.5);
        z-index:20;
        .player_controls {
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height:0;
            opacity: 1;
            transition: all 0.2s ease;
            .btn.backward::before {
                width:3.6rem;
                height:3.6rem;
                background-image: url('../img/icons_36_ic_back_white.svg');
            }
            .btn.forward::before {
                width:3.6rem;
                height:3.6rem;
                background-image: url('../img/icons_36_ic_forward_white.svg');
            }
            .btn.start::before {
                width:3.2rem;
                height:3.2rem;
                background-image: url('../img/icons_32_ic_play.svg');
            }
            .btn.pause::before {
                width:3.2rem;
                height:3.2rem;
                background-image: url('../img/icons_32_ic_stop.svg');
            }
            .btn.start,
            .btn.pause {
                display:none;
                &.is_visible {
                    display:inline-flex;
                }
            }

        }
        .play_utils {
            display:flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            left:0;
            bottom:1.2rem;
            width:100%;
            padding:0 $GapSideBase;
            .time_area {
                @include FontBody12;
                .split {
                    color:rgba(255,255,255,0.9);
                }
                .total {
                    color:rgba(255,255,255,0.6);
                }
            }
            .option_area {
                display:flex;
                justify-content: center;
                align-items: center;
                .btn.ico {
                    margin-left:2rem;
                    &::before {
                        width:2.4rem;
                        height:2.4rem;
                    }
                }
                .btn.ico.caption::before {
                    background-image: url('../img/icons_24_ic_cc_off_on.svg');
                }
                .btn.ico.caption.is_active::before {
                    background-position: bottom;
                }
                .btn.ico.speed::before {
                    background-image: url('../img/icons_24_ic_speed_white.svg');
                }
                .btn.ico.pip::before {
                    background-image: url('../img/icons_24_ic_pip_white.svg');
                }
                .btn.ico.full::before {
                    background-image: url('../img/icons_24_ic_full_white.svg');
                }
                .btn.ico.full.is_active::before {
                    background-image: url('../img/icons_24_ic_contraction_white.svg');
                }
            }
        }
    }
}

// Overwrap Active
.cube_player {
    .player_overwrap {
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease;
    }

    &.is_visible {
        .player_overwrap {
            visibility: visible;
        }
    }
    &.is_active {
        .player_overwrap {
            opacity: 1;
        }
        .player_timeline {
            .timeline_range {
                pointer-events: auto;
                &::-webkit-slider-thumb {
                    transform: scale(1);
                }
            }
        }
    }
}

// Prev/Next Active
.cube_player {
    .player_db_controls {
        position:absolute;
        left:0;
        top:0;
        z-index: 30;
        width:100%;
        height:100%;
        overflow: hidden;
        .btn.dubble_backward,
        .btn.dubble_forward {
            display:flex;
            justify-content: center;
            align-items: center;
            position:absolute;
            top:50%;
            width:120vw;
            height:120vw;
            padding:0;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.3  );
            transition: all 0.2s;
            span {
                color:#fff;
            }
        }
        .btn.dubble_backward {
            left:0;
            padding-left:80vw;
            transform: translate(-70%, -50%) scale(0.9);
            opacity: 0;
        }
        .btn.dubble_forward {
            right:0;
            padding-right:80vw;
            transform: translate(70%, -50%) scale(0.9);
            opacity: 0;
        }
    }
    .player_overwrap {
        .player_controls {
            .btn.backward,
            .btn.forward {
                opacity: 1;
                transition: opacity 0.3s ease;
            }
        }
    }
    &.is_visible {
        .player_db_controls {
            pointer-events: none;
        }
    }
}

// 전체화면모드 이거나 가로모드인 경우
@mixin PlayerFullscreen {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    .player_overwrap {
        .player_controls {
            .btn.start::before {
                width:4rem;
                height:4rem;
                background-image: url('../img/icons_40_ic_play.svg');
            }
            .btn.pause::before {
                width:4rem;
                height:4rem;
                background-image: url('../img/icons_40_ic_stop.svg');
            }
        }
        .play_utils {
            bottom:4rem;
            .option_area .btn.ico {
                margin-left:2.4rem;
            }
        }
    }
    .player_timeline {
        visibility: hidden;
        opacity: 0;
        left:$GapSideBase;
        right:$GapSideBase;
        bottom:2rem;
        width:auto;
        transition: all ease;
    }
    &.is_visible {
        .player_timeline {
            visibility: visible;
        }
    }
    &.is_active {
        .player_timeline {
            opacity: 1;
        }
    }
    &.is_backward {
        .btn.dubble_backward {
            transform: translate(-70%, -50%) scale(1);
            opacity: 1;
        }
        .player_overwrap {
            .player_controls {
                .btn.backward {
                    pointer-events: none;
                    opacity: 0;
                }
            }
        }
    }
    &.is_forward {
        .btn.dubble_forward {
            transform: translate(70%, -50%) scale(1);
            opacity: 1;
        }
        .player_overwrap {
            .player_controls {
                .btn.forward {
                    pointer-events: none;
                    opacity: 0;
                }
            }
        }
    }
    &.is_timeline {
        .player_controls {
            opacity: 0;
        }
        .player_timeline {
            .timeline_thumb {
                display:block;
            }
        }
    }
}
.cube_player.is_fullscreen {
    @include PlayerFullscreen;
}
@media all and (orientation: landscape) {
    .cube_player {
        @include PlayerFullscreen;
    }
}