// Default
.tab {
	position: relative;
	flex:none;
	.tab_list {
		position: relative;
		display: flex;
		.tab_inner {
			display: flex;
			align-items: center;
			height:100%;
		}
		.tab_item {
			position: relative;
			z-index: 1;
			width: 100%;
			display: block;
			padding: 1rem;
			text-align: center;
		}
	}
	.tab_next {
		display: none;
	}
	&.has_scroll {
		.tab_list {
            flex-wrap:nowrap;
			overflow-x:auto;
			padding-right:4rem !important;
            .tab_item {
                flex:none;
            }
		}
		.tab_next {
			display: block;
			position: absolute;
			right:0;
			top:0;
			z-index:20;
			height: 4.7rem;
			.btn.ico.next {
				height:inherit;
				width:4rem;
				background-image: linear-gradient(to left, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
				justify-content: flex-end;
				padding-right:0.4rem;
				&::before {
					width:1.6rem;
					height:1.6rem;
					background-image: url('../img/icons_16_ic_chervron_right_grey_04.svg');
				}
			}
		}
		& ::-webkit-scrollbar {
			display:none;
		}
    }
}

.tab_panel {
	display:flex;
	flex-direction: column;
	flex:1 0 auto;
	padding-left: $GapSideBase;
	padding-right: $GapSideBase;
	margin-left: -$GapSideBase;
	margin-right: -$GapSideBase;
}
.theme_dark .tab_panel {
	background-color: #151617;
}

// Styles
.tab.style1 {
	.tab_list::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 1px solid #E3E4E5;
		border-radius: 0.4rem;
	}

	.tab_item {
		padding: 1rem;
		color: #666;
		border-radius: 0.4rem;
		@include FontBody14;

		&.is_active {
			color: #fff;
			background-color: $ColorPrimary;
		}
	}
}

.tab.style2 {
	.tab_list {
		height: 4.8rem;
		padding:0 1rem;
		.tab_item {
			position: relative;
			flex:none;
			width: auto;
			height: inherit;
			padding:0rem 1rem 0.2rem 1rem;
			color:#A4A6AA;
			font-weight: 700;
			font-size:1.6rem;
			&::after {
				content:'';
				display:block;
				position:absolute;
				left:1rem;
				right:1rem;
				bottom:0;
				height:2px;
			}
			&.is_active {
				color:#000;
				&::after {
					background-color:#333;
				}
			}
		}
	}
	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 1px;
		background-color: #e3e4e5;
	}
	&.wide {
		.tab_list {
			.tab_item {
				flex:1 1 auto;
				width: 100%;
			}
		}
	}
}
.theme_dark {
	.tab.style2 {
		&::after {
			background-color:#44464a;
		}
		.tab_list .tab_item {
			&.is_active {
				color:#fff;
				&::after {
					background-color :#fff;
				}

			}
		}
	}
}

.tab.style3 {
	.tab_list {
		margin: -0.4rem;
		.tab_item {
			flex:none;
			width: auto;
			height: inherit;
			border: 1px solid #ccc;
			padding: 1rem 1.6rem;
			border-radius: 3rem;
			margin: 0.4rem;

			&.is_active {
				border-color: $ColorPrimary;
			}
		}
	}
}
