// Default
.tooltip {
    position: relative;
    display:inline-flex;
    z-index:10;

    .tooltip_body {
        display: none;
        position:absolute;
        min-width:10rem;
        min-height:4rem;
    }
    // Direction
    &.bottom .tooltip_body {
        top:100%;
    }
    &.top .tooltip_body {
        bottom:100%;
    }
    &.left .tooltip_body {
        right:0;
    }
    &.right .tooltip_body {
        left:0;
    }
    // Transition
    &.transition {
        .tooltip_body {
            opacity: 0;
            // transition: all 0.2s ease;
        }
    }
    &.is_active {
        .tooltip_body {
            opacity: 1;
        }
    }
    &.is_visible {
        .tooltip_body {
            display: block;
        }
    }
}