// Default
.tooltip {
    position: relative;
    display:flex;
    z-index:10;

    .tooltip_body {
        visibility: hidden;
        display: block;
        position:absolute;
        min-width:10rem;
        min-height:4rem;
        pointer-events: none;
    }
    // Direction
    &.bottom .tooltip_body {
        top:100%;
    }
    &.top .tooltip_body {
        bottom:100%;
    }
    &.left .tooltip_body {
        right:0;
    }
    &.right .tooltip_body {
        left:0;
    }
    &.center .tooltip_body {
        left:50%;
        transform: translateX(-50%);
    }
    &.center .tooltip_body {
        left:50%;
        transform: translateX(-50%);
    }
    // Transition
    .tooltip_body {
        opacity: 0;
        transition: all 0.2s ease;
    }
    &.is_active {
        .tooltip_body {
            opacity: 1;
        }
    }
    &.is_visible {
        .tooltip_body {
            visibility: visible;
            pointer-events: auto;
        }
    }
}

// Style Basic
.tooltip.basic {
    .tooltip_body {
        width:15.2rem;
        background-color: #fff;
        border-radius: $RadiusLarge;
        border:1px solid #f2f3f5;
        @include Shadow4;
        .btn {
            width:100%;
            height:4rem;
            justify-content: flex-start;
            padding:0 1.2rem 0 1.4rem;
            color: #44464a;
            & + .btn {
                border-top:1px solid #f2f3f5;
            }
            &::before {
                content:'';
                display:block;
                width:1.6rem;
                height:1.6rem;
                margin-right:0.7rem;
                background: no-repeat center center / 100% auto;
            }
            &.edit::before {
                background: url('../img/icons_16_ic_edit_grey_07.svg');
            }
            &.remove::before {
                background: url('../img/icons_16_ic_delete_grey_07.svg');
            }
            &.gallery::before {
                background:url('../img/icons_16_ic_image_grey_07.svg')
            }
            &.camera::before {
                background:url('../img/icons_16_ic_camera_grey_07.svg')
            }
            &.file::before {
                background:url('../img/icons_16_ic_folder_grey_07.svg')
            }
        }
    }
}
.theme_dark {
    .tooltip.basic .tooltip_body {
        background-color: #fff;
        border:1px solid #f2f3f5;
    }
}

// Style Description
.tooltip.desc {
    .btn.help {
        padding:0;
        @include FontBody13;
        color:#a4a6aa;
        &::before {
            content:'';
            display:block;
            position: relative;
            top:1px;
            width:2rem;
            height:2rem;
            margin-right:0.4rem;
            background: url('../img/icons_20_ic_information_grey_05.svg') no-repeat center center / 100% auto;
        }
    }
    .tooltip_body {
        width:26rem;
        margin:1rem;
        padding:1.6rem;
        border-radius: $RadiusSmall;
        background-color: #44464a;
        box-shadow:0px 4px 5px rgba(0, 0, 0, 0.02), 0px 1px 10px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.06);
        color:#fff;
        text-align: left;
        @include FontBody12;
        .help_list {
            li {
                position: relative;
                padding-left:1rem;
                word-break: keep-all;
                &::before {
                    content:'';
                    display: block;
                    position: absolute;
                    left: 0;
                    top:0.8rem;
                    width:0.3rem;
                    height:0.3rem;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }
            li + li {
                margin-top:0.6rem;
            }
        }
        &::after {
            content:'';
            display: block;
            position: absolute;
            background: no-repeat center center / 100% auto;
        }
    }

    &.center.top {
        .tooltip_body::after {
            top:100%;
            left:calc(50% - 0.7rem);
            width:0.8rem;
            height:0.8rem;
            background-image: url('../img/icons_8_ic_balloon_tail.svg');
        }
    }
}

.theme_dark {
    .tooltip.desc .btn.help::before {
        background-image: url('../img/icons_20_ic_information_grey_07.svg');
    }
}

@media all and (orientation: landscape) {
    .tooltip.basic {
        display:none;
    }

    .modal_landscape {
        .tooltip.desc {
            display:none;
        }
    }
}

//style icon
.info.ico{
    &::before{
        width: 1.6rem;
        height: 1.6rem;
        background-image: url('../img/icons_24_ic_information_grey_05.svg');
    }
}
//style bubble tooltip_body
.tooltip.bubble {
    .tooltip_body{
        padding: $FormBasicPadding;
        border-radius: $FormBasicRadius;
        background-color: #fff;
        width: 50vw;
        @include FontBody12;
        @include Shadow2;
        &.theme_dark{
            background-color: #44464a;
            color: #fff;
            &::before{
                border-bottom-color: #44464a;
            }
        }
        &::before{
            content : '';
            display: block;
            width: 0;
            height: 0;
            border-bottom: 1.4rem solid #fff;
            border-left: .7rem solid transparent;
            border-right: .7rem solid transparent;
            position: absolute;
            top: -.8rem;
            left: .1rem;
            border-radius: .1rem;
        }
        li{
            position: relative;
            padding-left: 1rem;
            word-break: keep-all;
            word-wrap: break-word;
            &::before{
                content :'';
                display: inline-block;
                width: .3rem;
                height: .3rem;
                background-color: #cbcdcf;
                border-radius: 50%;
                position: absolute;
                top: .8rem;
                left: 0;
            }
            &+li{
                margin-top: .6rem;
            }
        }
    }
}