// Default
.tooltip {
    position: relative;
    display:inline-flex;
    z-index:10;

    .tooltip_body {
        visibility: hidden;
        display: block;
        position:absolute;
        min-width:10rem;
        min-height:4rem;
        pointer-events: none;
    }
    // Direction
    &.bottom .tooltip_body {
        top:100%;
    }
    &.top .tooltip_body {
        bottom:100%;
    }
    &.left .tooltip_body {
        right:0;
    }
    &.right .tooltip_body {
        left:0;
    }
    // Transition
    .tooltip_body {
        opacity: 0;
        transition: all 0.2s ease;
    }
    &.is_active {
        .tooltip_body {
            opacity: 1;
        }
    }
    &.is_visible {
        .tooltip_body {
            visibility: visible;
            pointer-events: auto;
        }
    }
}

// Styles
.tooltip.basic {
    .tooltip_body {
        width:15.2rem;
        background-color: #fff;
        border-radius: $RadiusLarge;
        border:1px solid #f2f3f5;
        @include Shadow4;
        .btn {
            width:100%;
            height:4rem;
            justify-content: flex-start;
            padding:0 1.2rem 0 1.4rem;
            color: #44464a;
            & + .btn {
                border-top:1px solid #f2f3f5;
            }
            &::before {
                content:'';
                display:block;
                width:1.6rem;
                height:1.6rem;
                margin-right:0.7rem;
                background: no-repeat center center / 100% auto;
            }
            &.edit::before {
                background: url('../img/icons_16_ic_edit_grey_07.svg');
            }
            &.remove::before {
                background: url('../img/icons_16_ic_delete_grey_07.svg');
            }
        }
    }
}
.theme_dark {
    .tooltip.basic .tooltip_body {
        background-color: #fff;
        border:1px solid #f2f3f5;
    }
}