//나의 코멘트
.my_commentinfo {
    border-radius: $RadiusBase;
    background-color: #151617;
    color:#F8F8FA;
    @include FontBody13;
    padding:2rem;
    display: flex;
    .left {
        width:50%;
        display: flex;
        .icon {
            border-radius: $RadiusIcon;
            padding:0.25rem 0.5rem;
            background: rgba(255, 255, 255, 0.2);
        }
        .txt {
            margin:0.2rem 0 0 1rem;
        }
    }
    .right {
        width:50%;
        text-align: right;
        @include FontBody14;
        .count_my {
            font-weight: 800;
            color:#ff664d;
        }
    }
}

//관련url
.link_wrap {
    .sub_title {
        color:#75777B;
        font-weight: 700;
        margin-bottom:0.5rem;
    }
    .link_url {
        border-radius: $RadiusBase;
        background-color: #151617;
        color:#F8F8FA;
        @include FontBody13;
        padding:2rem;
        .link_body {
            display: flex;
            .link_thumb {
                width:5.2rem;
                height:5.2rem;
                background-color:#eee;
                margin-right:1.2rem;
                flex: none;
            }
            .link_title {
                flex:0 1 auto;
                overflow: hidden;
                .title {
                    @include Ellipsis2;
                }
                .url {
                    @include Ellipsis1;
                    @include FontBody10;
                    color:$ColorSubTxt;
                }
            }
        }   
    }
}
.theme_dark {
    .link_wrap {
        .sub_title {
            color:#75777B;
        }
        .link_url {
            background-color: #151617;
            color:#F8F8FA;
        }
    }
}

//관련url white
.link_urlw {
    border-radius: $RadiusBase;
    background-color: #fff;
    color:#33353C;
    @include FontBody13;
    padding:2rem;
    .link_title {
        flex:0 1 auto;
        overflow: hidden;
        .title {
            @include Ellipsis1;
        }
        .url {
            @include Ellipsis1;
            @include FontBody10;
            color:#A4A6AA;
        }
    }
}

//게시물
.post {
    .post_head {
        .left {
            width:70%;
            display: flex;
            .thumb {
                border-radius: 50%;
                width:3.2rem;
                height:3.2rem;
                background-color:#eee;
                flex: none;
                }
            .user_id {
                @include FontBody13;
                font-weight: 700;
                color:#fff;
                margin: 0.3rem 0.8rem 0
            }
            .write_time {
                @include FontBody13;
                color: $ColorSubTxt;
                margin-top:0.3rem;
            }
        }
        .right {
            width:30%;
        }
    }
    .post_padding {
        padding-left:4rem;
        .post_main {
            border-radius: 0 8px 8px 8px;
            background-color: #000;
            color:#F8F8FA;
            @include FontBody14;
            padding:2rem;
            .post_txt {
                position: relative;
                .txt {
                    @include Ellipsis7;
                }
                .more {
                    padding:0;
                }
            }
            .btn {
                padding:0;
                .left {
                    display: flex;
                    
                    .comment {
                        
                        .no {

                        }
                    }
                    .comment_write {

                    }
                }
                .right {
                    .like {

                    }
                }
            }
        }
    }
}
.theme_dark {
    .post {
        .post_padding {
            .post_main {
                background-color: #000;
                color:#F8F8FA;
                .post_txt {
                   .btn.more {
                       color:#A4A6AA;
                    }
                }
            }
        }
    }
}