// Default
.main_wrapper,
.submain_wrapper,
.sub_wrapper {
    .header {
        position: relative;
        z-index: 100;
        height: calc($HeightAppBar + var(--safeTop));
        .appbar {
            position: fixed;
            top: 0;
            left: 0;
            transition: transform 0.2s ease;
        }
    }
}

// Styles
.appbar {
    width:100%;
	height: inherit;
	padding: 0 $GapSideBase;
    padding-top:var(--safeTop);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	.appbar_left {
		display:flex;
		align-items: center;
		flex:0 1 auto;
		overflow: hidden;
		width:100%;
	}
	.appbar_right {
		display:flex;
		align-items: center;
		flex:none;
	}
	h1 {
		flex:0 1 auto;
		overflow: hidden;
		display:block;
		strong {
			@include FontTitle18;
			@include Ellipsis1;
		}
	}

    // Cases
	&.profile {
		.avata_area {
            display:flex;
            align-items: center;
			.avata {
				width:3.2rem;
				height:3.2rem;
				margin-right:0.8rem;
			}
        }
	}
	&.titles {
		h1 {
			span {
				@include FontBody12;
				color:$ColorSubTxt;
			}
		}

	}

    // Buttons
    .btn.ico {
        flex:none;
        width:4rem;
        height:4rem;
        &.history {
            margin-right:1.0rem;
            &::before {
                width:1rem;
                height:2rem;
                background-color: #eee;
            }
        }
        &.alim {
            &::before {
                width:2rem;
                height:1.7rem;
                background-color: #eee;
            }
        }
        &.more {
            &::before {
                width:2rem;
                height:1.7rem;
                background-color: #eee;
            }
        }
        &.search {
            &::before {
                width:2rem;
                height:1.7rem;
                background-color: #eee;
            }
        }
        &.study {
            &::before {
                width:2rem;
                height:1.7rem;
                background-color: #eee;
            }
        }
        &.learnActive {
            &::before {
                width:2rem;
                height:1.7rem;
                background-color: #eee;
            }
            &.is_active::before {
                background-color: $ColorPrimary;
            }
        }
        &.wish {
            &::before {
                width:2rem;
                height:1.7rem;
                background-color: #eee;
            }
        }
    }
}

// Scroll Type1 - Main Appbar
.main_wrapper {
    .appbar.profile {
        background-color:$ColorSecondary;
        h1 {
            color:#fff;
        }
        &:not(.is_white) {
            box-shadow:none !important;
        }
        &.is_white {
            background-color: #fff;
            transform: translateY(0);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 2px 1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.06);
            h1 {
                color:#000;
            }
        }
    }
}
.is_scroll_down {
    .main_wrapper {
        .appbar.profile {
            transform: translateY(-100%);
            box-shadow: none;
        }
    }
}

// Scroll Type2 - Submain Appbar
.is_scroll_down {
    .submain_wrapper:not(.has_sticky) {
        .appbar {
            transform: translateY(-100%);
            box-shadow: none;
        }
    }
}
.is_scroll_up {
    .submain_wrapper:not(.has_sticky) {
        .appbar {
            transform: translateY(0);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 2px 1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.06);
        }
    }
}

// Scroll Type3 - Submain Appbar + Tab
.is_scrolled {
    .submain_wrapper.has_sticky {
        .appbar {
            position: absolute;
            box-shadow: none;
        }
        .sticky {
            position: sticky;
            top:var(--safeTop);
            background-color: #fff;
        }
    }
}

// Scroll Type4 - Sub Appbar Title
.is_scrolled {
    .sub_wrapper {
        .appbar {
            position: fixed;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 2px 1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.06);
        }
    }
}

// Scroll Type5 - Sub Appbar Title + Sticky
// Scroll Type7 - Sub Appbar Title + Sticky
.sub_wrapper.has_sticky {
    .appbar{
        box-shadow: none;
    }
    .sticky {
        position: sticky;
        top:calc($HeightAppBar + var(--safeTop));
        background-color: #fff;
    }
}

// Scroll Type6 - Sub Appbar Title Transition
.sub_wrapper {
    .appbar {
        .transition {
            opacity: 0;
            transition: all 0.2s ease;
        }
        &.is_transition {
            .transition {
                opacity: 1;
            }
        }
    }
}
