// Avata
.avata {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:8.0rem; /* Demo Size */
    height:8.0rem; /* Demo Size */
    border-radius: 50%;
    vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
}

// Thumbnail
.thumb {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	img {
		width:100%;
		height:100%;
	}
	.ribon {
		position: absolute;
		right: 1.4rem;
		top: 0;
		width: 1.6rem;
		height: 1.8rem;
		background-color: #ddd;
		border-radius: 0;
		&.is_active {
			background-color: $ColorPrimary;
		}
	}
}

// No Data
.no_data {
	text-align: center;
	@include FontBody14;
	.img {
		display:block;
	}
	.img + .msg {
		margin-top:10px;
	}
}

// Result Data
.result_data {
    text-align: center;
    .img {display:block;}
    .img + .msg {margin-top:10px;}
    &.is_successed {
        color: $ColorPositive
    }
    &.is_failed {
        color: $ColorNegative
    }
}

// Cube Circle
.cube_circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width:4rem;
	height:4rem;
	border-radius: 50%;
	border:4px solid $ColorPrimary;
}