// Default
.label {
    display:inline-flex;
    justify-content: center;
    align-items:center;
}

.label.style1 {
    min-width:3.6rem;
    height:2.2rem;
    padding:0 0.6rem 0.1rem 0.6rem;
    background-color: #44464A;
    border-radius: $RadiusIcon;
    @include FontBody13;
    font-weight:400;
}


// Contents
.label.rate_count {
    padding:0;
    background-color: transparent;
    color:inherit;
    font-weight:400;
    &::before {
        content:'';
        display:block;
        width:1.6rem;
        height:1.6rem;
        background-color: #ddd;
        margin-right:0.5rem;
    }
}
.label.date {
    padding:0;
    background-color: transparent;
    color:$ColorSubTxt;
    font-weight:400;
    &::before {
        content:'';
        display:block;
        width:1.4rem;
        height:1.4rem;
        background-color:#ddd;
        margin-right:0.4rem;

    }
}
