// Section
.in_sec {
	padding-left: $GapSideBase;
	padding-right: $GapSideBase;
}
.out_sec {
	margin-left: -$GapSideBase;
	margin-right: -$GapSideBase;
}
.gap_sec {
	padding-top:3rem;
}

// Area
.full_area {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	padding:1.8rem $GapSideBase;
	display:flex;
	flex-direction: column;
	.flex_area {
		display:flex;
		justify-content: center;
		align-items: center;
		flex:1 0 auto;
	}
}

// Headings
.heading2 {
	@include FontTitle16;
}

// Content
.sub_txt {
    @include FontBody14;
    color: $ColorSubTxt;
    font-weight: 400;
}
