//Overview
.overview_subscript {
    margin-top: 2rem;
    padding-bottom:1.5rem;
    position: relative;
    .overview_txt {
        @include Ellipsis3;
    }
    .btn_more {
        padding:0;
        color:#a4a6aa;
    }
    &.is_expanded {
        .txt {
            display:block;
            overflow: visible;
        }
    }
}

//태그
.chip.action {
    background-color:#f2f3f5;
    border:0;
}

//찜하기
.pick {
    display: block;
    .pick_btn {
        display:flex;
        padding:1.8rem 2rem;
        border-radius: $RadiusLarge;
        color:#fff ;
        background-color: #44464a;
        margin-bottom:2rem;
        @include Shadow3
        .pick_txt {
            width:70%;
            @include FontBody14
        }
        .pick_more {
            width:30%;
            .btn_more {
                display: block;
                color:#ffa394;
                font-weight: 400;
                height:inherit;
                padding:inherit;
                float: right;
                @include FontBody14
            }
        }
    }
    .floating_btn {
        .btn {
            width:100%;
        }
    }
}

//찜하기 더보기
.pick_morepage {
    .pick_moretxt {
        @include FontBody16
        display: block;
        padding:1.5rem 0;
        width:100%;
        text-align: left;
        font-weight: 700;
    }
}

//플레이리스트 추가
.filter_body {
    .filter_list {
        .checkbox {
            .playlist_txt {
                @include Ellipsis1;
            }
        }
    }
    .add_newpl {
        .addnewpl_btn {
            color:#ff664d;
        }
    }
}

//뱃지 복수
.badgelist_white {
    background-color: #fff;
    border-bottom:1px solid #f2f3f5;
    .badge_inner {
        .badge_body {
            color:#000;
            .badge_title {
                @include Ellipsis1;
            }
        }
    }
}