@import '../../../../assets/scss/variables';

.learning_head {
	position:relative;
	height:19.8rem;
	background-color: #ddd;
	&::before {
		content:'';
		display:block;
		height:19.8rem;
	}
	.overay_area {
		display:flex;
		justify-content: center;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:19.8rem;
		padding:5.6rem $GapSideBase 0;
		background-color: rgba(17, 17, 17, 0.75);
		.title_area {
			text-align: center;
			color:#fff;
			.sub_txt {
				@include FontBody13;
				color:inherit;
			}
			.title {
				@include FontTitle20;
				color:inherit;
			}
		}
		.info_area {
			display:flex;
			justify-content: center;
			align-items: center;
			color:#fff;
			margin-top:2.2rem;
			.ui.label {
				&::before {
					margin-right:0.4rem;
				}
				& + .ui.label {
					margin-left:2rem;
				}
			}
		}
	}
}