
// s: 카테고리 탭영역
.category_tab_sec {
    padding:0.8rem 0;
}
// e: 카테고리 탭영역

// s: 관심채널
.favorit_channel_sec {
    margin-top:2rem;
    .title_area {
        display:flex;
        justify-content: space-between;
        align-items: center;
        .btn.text {
            padding:0;
        }
        .count {
            color:$ColorPrimary;
        }
    }
}
.favorit_channel {
    padding-top:2.4rem;
    padding-bottom:2.8rem;
    .chip_action_group {
        position: relative;
    }
}
.favorit_channel_empty {
    padding:4rem 2rem 5rem 2rem;
}
// e: 관심채널

// s: 전체 카테고리
.category_list_sec {
    padding-top:2rem;
    .heading2 + .category_list {
        margin-top:1.2rem;
    }
}
.category_list {
    .category_link {
        display:flex;
        min-height:5.5rem;
        padding:1.4rem 0;
        align-items: center;
        border-bottom:1px solid #eeeeee;
        @include FontTitle16;
        &::before {
            content:'';
            display:block;
            width:2.8rem;
            height:2.8rem;
            margin-right:1.2rem;
            border-radius: 0.4rem;
            background-color: #eee;
        }
        &.ai::before {
            background:url('../img/icons_16_ic_ai_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateAi;
        }
        &.dt::before {
            background:url('../img/icons_16_ic_dt_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateDt;
        }
        &.happinesst::before {
            background:url('../img/icons_16_ic_happy_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateHappinesst;
        }
        &.sv::before {
            background:url('../img/icons_16_ic_svesg_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateSV;
        }
        &.design::before {
            background:url('../img/icons_16_ic_design_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateDesign;
        }
        &.global::before {
            background:url('../img/icons_16_ic_global_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateGlobal;
        }
        &.leadership::before {
            background:url('../img/icons_16_ic_leadership_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateLeadership;
        }
        &.management::before {
            background:url('../img/icons_16_ic_management_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateManagement;
        }
        &.semicond::before {
            background:url('../img/icons_16_ic_future_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateSemicond;
        }
        &.green::before {
            background:url('../img/icons_16_ic_green_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateGreen;
        }
        &.bm::before {
            background:url('../img/icons_16_ic_bmdesign_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateBM;
        }
        &.skacademy::before {
            background:url('../img/icons_16_ic_skacademy_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateSkacademy;
        }
        &.skoper::before {
            background:url('../img/icons_16_ic_sk_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateSkoper;
        }
        &.life::before {
            background:url('../img/icons_16_ic_lifestyle_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateLife;
        }
        &.inno::before {
            background:url('../img/icons_16_ic_innovation_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateInno;
        }
        &.com::before {
            background:url('../img/icons_16_ic_butterfly_white.svg') no-repeat center center / 1.6rem auto;
            background-color:$ColorCateCom;
        }
    }
}
// e: 전체 카테고리

// s: 관심채널 목록
.channel_list_sec {
    .heading2 {
        margin-bottom:1.2rem;
        .count {
            color:$ColorPrimary;
        }
    }
    .channel_item {
        display: flex;
        justify-content: space-between;
        min-height:6rem;
        padding:1.8rem 0;
        border-bottom:1px solid #f2f3f5;
        @include FontBody16;
        .count {
            color:#a4a6aa;
        }
    }
    & + .channel_list_sec {
        margin-top:4rem;
    }
}
.category_container.channel_page {
    .content_body {
        padding-top:2rem;
    }
}

// e: 관심채널
