///////////////////////////////////////////////////
// Feed
///////////////////////////////////////////////////

// community common
.community_container {
    .tab.style1 {
        margin-top:2.8rem;
    }
    .community_category_wrap{
        padding : 0.8rem 0 0;
        width : 100%;
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
        &::-webkit-scrollbar {
            display:none;
        }
        .chip{
            flex: none;
            &+.chip {
                margin-left : 0.8rem;
            }
        }
    }
    .count.primary {
        color:#FF664D;
    }
    .toast {
        margin-bottom:7.4rem;
    }
    .board_action {
        margin-top:1.6rem;
    }
    .btn.ico {
        flex:none;
        width:2.4rem;
        height:2.4rem;
        padding:0;
        & + .btn.ico {
            margin-left:2.4rem;
        }
        &::before {
            width:2.4rem;
            height:2.4rem;
        }
        &.like::before {
            background-image:url('../img/icons_24_ic_like_off_on.svg');
        }
        &.like.is_active::before {
            background-position-y: bottom;
        }
        &.share::before {
            background-image:url('../img/icons_24_ic_share_black.svg');
        }
        &.bookmark::before {
            background-image:url('../img/icons_24_ic_bookmark_off_on_2.svg');
        }
        &.bookmark.is_active::before {
            background-position-y: bottom;
        }
    }
    // Profile Header
    .community_head {
        width:100%;
        padding:1.2rem $GapSideBase 1.6rem $GapSideBase;
        .profile_link {
            display: flex;
            flex-wrap: wrap;
            .avata_area {
                flex:none;
                margin-right:1.2rem;
                .avata {
                    width:5.2rem;
                    height:5.2rem;
                    border-radius: 50%;
                }
            }
            .title_area {
                width:calc(100% - 7.2rem);
                overflow: hidden;
                .title {
                    display:flex;
                    align-items: center;
                    overflow: hidden;
                    &::after {
                        content:"";
                        flex:none;
                        display:block;
                        width:1.2rem;
                        height:1.2rem;
                        margin-left:0.2rem;
                        background-image: url('../img/icons_12_ic_chervron_right_grey_06.svg');
                    }
                    .name {
                        flex:0 1 auto;
                        @include FontTitle18;
                        @include Ellipsis1;
                        color:#000;
                    }
                }
                .follow {
                    display:flex;
                    align-items: center;
                    margin-top:0.6rem;
                    .split {
                        display:block;
                        width:1px;
                        height:1rem;
                        margin:0 1.2rem;
                        background-color: #e3e4e5;
                    }
                    .tit {
                        @include FontBody14;
                    }
                    .count {
                        margin-left:0.4rem;
                        @include FontTitle14;
                        color:$ColorPrimary;
                    }
                }
            }
        }
    }
}
// 페이지 프로필 헤더
.board_community.main_profile {
    > .item_foot {
        margin-top:0.4rem;
        .info_area {
            .btn.text.arw_link {
                &::before {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 1rem;
                    margin-right: 0.8rem;
                    margin-left: 0.8rem;
                    background-color: #cbcdcf;
                }
            }
        }
    }
    > .item_util {
        top:2.4rem;
        right:2rem;
    }
}

// 커뮤니티 목록
.community_list_wrap {
    margin-top:1rem;
    .board_community_list {
        .btn_more {
            display: flex;
            justify-content: center;
            padding:0.8rem 0;
            border-top:1px solid #f2f3f5;
        }
    }
    .checkbox.basic.large {
        align-items: center;
    }
    .no_data {
        margin: 6rem 0 7rem;
    }
    &:last-child {
        .no_data {
            margin: 6rem 0 3rem;
        }
    }
}
// 팔로워
.followlist_page {
    .followlist_wrap {
        margin-top:1.4rem;
        .list_item {
            .member {
                padding:1rem 0;
                display: flex;
                align-items: center;
                > .left {
                    overflow: hidden;
                    .profile_link {
                        display: flex;
                        align-items: center;
                        .avata {
                            width:5.2rem;
                            height:5.2rem;
                            border-radius: 50%;
                        }
                        .name {
                            @include FontBody16;
                            @include Ellipsis1;
                            padding:0 1.2rem;
                            > .ellipsis {
                                @include Ellipsis1;
                            }
                        }
                        .name.ico {
                            display: flex;
                            align-items: center;
                            &::before {
                                content: "";
                                display:block;
                                flex:none;
                                width:1.6rem;
                                height:1.6rem;
                                margin-right:0.4rem;
                            }
                            &.gold::before {
                                background-image: url('../img/icons_16_ic_boss_yellow.svg');
                            }
                            &.silver::before {
                                background-image: url('../img/icons_16_ic_boss_grey_04.svg');
                            }
                        }

                    }
                }
                > .right {
                    margin-left:auto;
                    flex: none;
                    & > button {
                        padding:0.4rem 2rem;
                    }
                    & > button.primary {
                        background-color: inherit;
                        color:#FF664D;
                    }
                }
            }
            .member_info {
                display:flex;
                align-items: center;
                margin-top:0.6rem;
                color:#75777b;
                @include FontBody14;
                border-bottom:1px solid #f2f3f5;
                padding:0 2rem 1.6rem;
                .split {
                    display:block;
                    width:1px;
                    height:1rem;
                    margin:0 1.2rem;
                    background-color: #e3e4e5;
                }
                .count {
                    margin-left:0.4rem;
                    color:$ColorPrimary;
                }
                .date {
                    flex: none;
                    margin-left: auto;
                }
            }
        }
    }
    .board_search_area {
        margin-top:2rem;
    }
}
// 모달 컨펌 패스워드
.modal_confirmpassword {
    .notice {
        width:100%;
        margin-bottom:3rem;
        color:#75777b;
        text-align: center;
        .ico {
            width:4rem;
            height:4rem;
            margin:0 auto 0.8rem;
            background-image: url('../img/icons_40_ic_warning_grey_03.svg');
        }
        .msg {
            color:#000;
            @include FontBody16;
        }
    }
}
// 모달 풀팝업 커뮤니티 상세 정보
.modal_community {
    .modal_content {
       .community_head {
           text-align: center;
           .item_body{
               display: block;
                .item_thumb {
                    overflow: hidden;
                    .thumb {
                        display: inline-block;
                        width: 8rem;
                        height: 8rem;
                        border-radius: 50%;
                    }
                }
                .item_title {
                    .title {
                        @include FontTitle18;
                        margin:1.6rem 0;
                    }
                }
                .item_foot {
                    display: block;
                    color: $ColorSubTxt;
                    overflow: hidden;
                    width:100%;
                    .info_area {
                        justify-content: center;
                        display: flex;
                        align-items: center;
                        width:100%;
                        overflow: hidden;
                        &::before {
                            content:'';
                            position: relative;
                            top:1px;
                            display:flex;
                            flex: none;
                            width:1.6rem;
                            height:1.6rem;
                            margin:0 0.4rem 0 0;
                            background:url('../img/icons_16_ic_boss_yellow.svg') no-repeat center center / 100% auto;
                        }
                        .username {
                            flex: 0 1 auto;
                            @include Ellipsis1;
                        }
                        .date {
                            display: flex;
                            align-items: center;
                            flex: none;
                            &::before {
                                content: "";
                                display: block;
                                width: 1px;
                                height: 1rem;
                                margin-right: 0.8rem;
                                margin-left: 0.8rem;
                                background-color: #cbcdcf;
                            }
                        }
                        > .btn.text.arw_link {
                            padding-left:inherit;
                            &::before {
                                content: "";
                                display: block;
                                width: 1px;
                                height: 1rem;
                                margin-right: 0.8rem;
                                margin-left: 0.8rem;
                                background-color: #cbcdcf;
                            }
                            &::after {
                                top:inherit;
                            }
                        }
                    }
                    .desc {
                        margin:1.2rem 0 2.4rem;
                        color:#000;
                    }
                }
            }
        }
    }
    .detailinfo_page {
        background-color:#f8f8fa;
        .info_list_wrap {
            text-align: center;
            .info_list {
                .info_box {
                    display: flex;
                    align-items: center;
                    border-bottom:1px solid #e3e4e5;
                    padding:2rem 0 1.2rem;
                    > .left{
                        color:#75777b;
                    }
                    > .right{
                        flex: none;
                        margin-left:auto;
                        margin-right:1rem;
                    }
                }
            }
            .btn.basic.unregister {
                @include FontBody13;
                padding:0.6rem 1.2rem;
                margin-top:3rem;
            }
        }
    }
}

// 전체 게시판 메뉴
.modal_community_allboard {
    width:85%;
    position: absolute;
    right:0;
    .allboard_page {
        margin-top:0.8rem;
        .allboard_list {
            margin-top:1.2rem;
            .allboard_item + .allboard_item {
                border-top:1px solid #f2f3f5;
            }
            .item_expand, .item_body {
                padding-top:1.6rem;
                padding-bottom:1.6rem;
                padding-right:1.6rem;
                @include FontBody16;
                display: flex;
                align-items: center;
                &::after {
                    content: "";
                    flex:none;
                    width:1.2rem;
                    height:1.2rem;
                    margin-left: auto;
                    background-image: url("../img/icons_12_ic_chervron_right_grey_06.svg");
                }
                &::before {
                    content: "";
                    flex:none;
                    width:2rem;
                    height:2rem;
                    margin-right:0.8rem;
                }
                &.boardbasic::before {
                    background-image: url('../img/icons_20_ic_boardbasic_grey_05.svg');
                }
                &.boardsurvey::before {
                    background-image: url('../img/icons_20_ic_boardsurvey_grey_05.svg');
                }
                &.boardfile::before {
                    background-image: url('../img/icons_20_ic_boardfile_grey_05.svg');
                }
                &.boardhtml::before {
                    background-image: url('../img/icons_20_ic_boardhtml_grey_05.svg');
                }
                &.boardlink::before {
                    background-image: url('../img/icons_20_ic_boardlink_grey_05.svg');
                }
                &.boarddiscussion::before {
                    background-image: url('../img/icons_20_ic_boarddiscussion_grey_05.svg');
                }
            }
            .item_body {
                padding-left:1.6rem;
                background-color:#f8f8fa;
            }
            .menu {
                @include Ellipsis1;
                display: block;
                padding-right:0.8rem;
            }
        }
    }
}

// 커뮤니티 내 검색 최근 검색어
.search_terms_wrap {
    > .heading2 {
        margin:2.2rem 0;
    }
}


// 게시판 기본형 이미지
// 레이아웃
@media screen and (min-width: 520px) { //3개
    .board_page.board_basic_img .board_community_list_wrap .board_community_list {
        margin: 0.6rem calc((33.3% - 15.6rem)/-2);
        justify-content: flex-start;
        .board_community {
            min-width: auto;
            margin: .6rem calc((33.3% - 15.6rem)/2);
        }
    }
}
@media screen and (min-width: 625px){ //4개이상
    .board_page.board_basic_img .board_community_list_wrap .board_community_list {
        margin: .6rem -.4rem;
        justify-content: flex-start;
        .board_community {
            min-width: auto;
            margin: .6rem .4rem;
        }
    }
}
// 게시물 스타일
.board_page.board_basic_img {
    > .board_community_list_wrap {
        width:100%;
        overflow: hidden;
        .board_community_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .board_community {
                flex: none;
                display: flex;
                align-items: center;
                justify-content: center;
                width:15.6rem;
                margin-bottom:2.4rem;
                padding: inherit;
                border: inherit;
                .item_body {
                    display: block;
                    overflow: hidden;
                    .item_thumb {
                        margin-right:inherit;
                        width: 15.6rem;
                        height: 15.6rem;
                        .thumb {
                            border-radius: 0.4rem;
                        }
                    }
                    .item_title {
                        width:100%;
                        height:5rem;
                        padding-right: inherit;
                        margin-top:1.2rem;
                        .sub_txt {
                            @include FontBody16;
                            @include Ellipsis2;
                            color:#000;
                        }
                    }
                    .item_foot {
                        margin-top:0.8rem;
                        .user_area {
                            display: flex;
                            align-items: center;
                            overflow: hidden;
                            margin-bottom:0.6rem;
                            .avata {
                                width:2rem;
                                height:2rem;
                                margin-right:0.4rem;
                            }
                            .name {
                                flex:0 1 auto;
                                @include Ellipsis1;
                                color:#666666;
                                line-height: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 게시판 기본형 텍스트
.board_page {
    > .board_dt_wrap {
        .board_dt_title {
            .board_dt_info {
                .user_id{
                    margin-right : 0.8rem;
                }
                .reg_date {
                    margin-right:0.8rem;
                }
                .cnt_views {
                    background: url("../img/icons_16_ic_view_grey_04.svg") no-repeat 0.8rem 50%;
                }
            }
        }
        .board_dt_foot {
            display: flex;
            align-items: center;
            > .right{
                margin-left:auto;
            }
        }
    }
}

