
///////////////////////////////////////////////////
// Myhome Components
///////////////////////////////////////////////////


///////////////////////////////////////////////////
// Myhome Page
///////////////////////////////////////////////////

///////////////////////////////////////////////////
// Alim
///////////////////////////////////////////////////
// Alim Section
.alim_define {
    .alim_item {
        position: relative;
        padding:2rem $GapSideBase 1.6rem 5.2rem;
        border-bottom:1px solid #e3e4e5;
        &::before {
            content:'';
            display:block;
            position: absolute;
            left:$GapSideBase;
            width:2.4rem;
            height:2.4rem;
        }
        &.learning::before {
            background-image: url('../img/icons_24_ic_learning_black.svg');
        }
        &.community::before {
            background-image: url('../img/icons_24_ic_noticecommunity_black.svg');
        }
        &.playlist::before {
            background-image: url('../img/icons_24_ic_playlist_black.svg');
        }
        &.notice::before {
            background-image: url('../img/icons_24_ic_notice_black.svg');
        }
    }
    .alim_title {
        display:flex;
        justify-content: space-between;
        .tit {
            @include FontTitle14;
        }
        .time {
            @include FontBody12;
            color:#a4a6aa;
        }

    }
    .alim_cont {
        margin-top:0.8rem;
    }
}

///////////////////////////////////////////////////
// My Profile
///////////////////////////////////////////////////
// Profile Headr
.profile_head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
    padding:2.4rem 1rem 2rem 1rem;
    .avata_area {
        flex:none;
        width:8rem;
        height:8rem;
        margin-right:2rem;
    }
    .title_area {
        width:calc(100% - 10rem);
        overflow: hidden;
        .title {
            flex:0 1 auto;
            display:flex;
            align-items: center;
            overflow: hidden;
            .name {
                flex:0 1 auto;
                @include FontTitle18;
                @include Ellipsis1;
            }
            .btn {
                margin-left:0.4rem;
            }
            .btn.ico.change {
                &::before {
                    width:2.4rem;
                    height:2.4rem;
                    background-image: url('../img/icons_24_ic_changename_black.svg');
                }
            }
        }
        .company {
            margin-top:0.4rem;
            @include FontBody14;
            color:$ColorSubTxt;
        }
        .follow {
            display:flex;
            align-items: center;
            margin-top:0.4rem;
            .split {
                display:block;
                width:1px;
                height:1rem;
                margin:0 1.2rem;
                background-color: #e3e4e5;
            }
            .tit {
                @include FontBody14;
            }
            .count {
                margin-left:0.4rem;
                @include FontTitle14;
                color:$ColorPrimary;
            }
        }
    }
    .tag_area {
        margin-top:2rem;
    }

    // 편집하기
    .avata_edit {
        position: relative;
        margin:auto;
        width:8rem;
        height:8rem;
        .ico.edit {
            position: absolute;
            right:0;
            bottom:0;
            width: 2.4rem;
            height:2.4rem;
            background-image: url('../img/icons_24_ic_addphoto_grey_05.svg');
        }
    }
}

// Profile View
.profile_view {
    margin-top:0.5rem;
    p {
        display:flex;
        align-items: center;
        width: 100%;
        padding:2rem 0 1rem 0;
        .tit {
            flex:none;
            display:block;
            width:11rem;
            margin-bottom:auto;
            @include FontBody14;
            color:$ColorSubTxt;
        }
        .txt {
            flex:0 1 auto;
            display:block;
            width:100%;
            margin-bottom:auto;
            @include FontBody14;
            color:#000;
        }
        & + p {
            border-top:1px solid #e3e4e5;
        }
    }
}

// Profile Form
.profile_form {
    margin-top:2.4rem;
    p {
        width: 100%;
        .tit {
            flex:none;
            display:block;
            width:11rem;
            margin-bottom:0.8rem;
            @include FontBody14;
            color:$ColorSubTxt;
        }
        .textarea.basic {
            height:11.2rem;
        }
        & + p {
            margin-top:2rem;
        }
    }
}

// Profile Popup
.modal_profile {
    .tab_panel {
        padding-top:0.4rem;
        padding-bottom:4rem;
        background-color:$ColorTabPenelGrey;
    }
}

///////////////////////////////////////////////////
// My Badge
///////////////////////////////////////////////////
// 배지인증서
.modal_badgeCert {
    .cert_sec {
        margin-top:2rem;
        .cert_body {
            margin-top:1.2rem;
            p {
                color: $ColorSubTxt;
                & + p {
                    margin-top:2rem;
                }
            }
        }
    }
}


///////////////////////////////////////////////////
// Playlist
///////////////////////////////////////////////////
// 플레이리스트
.playlist_container {
    .no_data {
        .board_action {
            margin-top:1.6rem;
        }
    }
    &.playlist_page {
        .board_action {
            margin-top:2.4rem;
            text-align: center;
        }
    }
}
// 플레이리스트 만들기
.modal_playlistAdd {
    .modal_content {
        padding-top:1.6rem;
    }
    .playlistAdd_form {
        .tit {
            display:block;
            margin-bottom:0.8rem;
            @include FontBody13;
            color:$ColorSubTxt;
        }
        .form_row + .form_row {
            margin-top:2rem;
        }
        textarea.basic {
            height:12.8rem;
        }
    }
}
// 플레이리스트 상세
.playlist_view {
    margin-top:1rem;
    margin-bottom:1.2rem;
    .title_area {
        .title {
            margin-bottom:1.2rem;
            @include FontTitle16;
        }
    }
    .info_area {
        display:flex;
        align-items: center;
        justify-content:space-between;
        margin-top:1.2rem;
        .left {
            display:flex;
            align-items: center;
            .username {
                display:flex;
                align-items: center;
                .avata {
                    width:2rem;
                    height:2rem;
                    margin-right:0.4rem;
                }
                .name {
                    @include FontBody13;
                }
            }
            .split {
                display:block;
                width:1px;
                height:1rem;
                margin:0 0.8rem;
                background-color: #e3e4e5;
            }
            .date {
                @include FontBody13;
                color:#a4a6aa;
            }
        }
        .right {
            .btn.like {
                padding:0;
                @include FontBody12;
                color:#000;
                &::before {
                    content:'';
                    display:block;
                    margin-right:0.4rem;
                    width:1.6rem;
                    height:1.6rem;
                    background-image:url('../img/icons_16_ic_like_off_grey_06.svg');
                }
            }
            .btn.like.is_active {
                &::before {
                    background-image:url('../img/icons_16_ic_like_on.svg');
                }
            }
        }
    }
    // 내가 만든 플레이리스트 상태정보
    .make_status {
        position: relative;
        display:flex;
        margin-top:1.2rem;
        border-radius: $RadiusLarge;
        background-color: #f2f3f5;
        padding:1.8rem 0;
        &::before {
            content:'';
            position:absolute;
            left:50%;
            top:calc(50% - 1.5rem);
            display:block;
            width:1px;
            height:3rem;
            background-color: #e3e4e5;
        }
        > p {
            display: flex;
            width:50%;
            flex:none;
            justify-content: center;
            align-items: center;
            em {
                font-weight: 700;
            }
            &::before {
                content:'';
                display:block;
                width:2.4rem;
                height:2.4rem;
                margin-right:0.4rem;
                background: no-repeat center center / 100% auto;
            }
            &.recom::before {
                background-image:url('../img/icons_24_ic_recommend_black.svg');
            }
            &.buy::before {
                background-image:url('../img/icons_24_ic_putin_black.svg');
            }
        }
    }
    // 추천받은 메세지
    .recom_msg {
        position: relative;
        margin-top:1.2rem;
        border-radius: $RadiusLarge;
        background-color: #f2f3f5;
        padding:1.6rem;
        dt {
            @include FontBody12;
            font-weight: 700;
        }
        dd {
            margin-top:0.6rem;
        }
    }
}

.modal_replies {
    .post_detail .post {
        padding:1rem 0 0 0;
    }
    .post_detail .post .post_body .post_main .post_btn {
        margin-top:1.4rem;
    }
    .post_list {
        padding-top:2rem;
        padding-bottom:4rem;
    }
}
.modal_fullpopup.has_comment {
    .comment_floating .comment_body {
        position:relative;
    }
}