// s: hottopic 전체보기
.topic_list_wrap {
    width:100%;
    //overflow: hidden;
    .card_topic_list {
        display: flex;
        flex-wrap: wrap;
        margin: .6rem 0;
        padding:0 calc(((100vw - 31.2rem - 4rem)/3) - 0.4rem);
        justify-content: space-between; //2개일때
        .card_topic {
            flex:none;
            margin: .6rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.recom_list_wrap{
    width:100%;
    //overflow: hidden;
    .card_cube_list{
        display: flex;
        flex-wrap: wrap;
        margin: .6rem 0;
        padding:0 calc(((100vw - 31.2rem - 4rem)/3) - 0.4rem);
        justify-content: space-between;
        .card_cube{
            flex:none;
            margin: .6rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @include Shadow3;
        }
    }

}
@media screen and (min-width: 520px) { //3개
    .topic_list_wrap .card_topic_list,
    .recom_list_wrap .card_cube_list {
        margin: 0.6rem 0;
        padding: 0;
        justify-content: flex-start;
        .card_topic,
        .card_cube {
            min-width: auto;
            margin: .6rem calc((33.3% - 15.6rem)/2);
        }
    }
}
@media screen and (min-width: 720px){ //4개이상
    .topic_list_wrap .card_topic_list,
    .recom_list_wrap .card_cube_list {
        margin: .6rem 0;
        padding: 0;
        justify-content: flex-start;
        .card_topic,
        .card_cube {
            min-width: auto;
            margin: .6rem calc((25% - 15.6rem)/2);
        }
    }
}
// e: hottopic 전체보기 & 상세

// s: recom Main
.content_body.recom_main_page{
    padding-top:1.6rem;
    padding-bottom: 4rem;
}
.recom_wrap {
    margin-left: -$GapSideBase;
    margin-right: -$GapSideBase;
    .list_sec {
        &+.list_sec {
            margin-top: 3.6rem;
        }
        &.bg_grey {
            padding: 2rem 0 3.6rem 0;
            background-color: #f2f3f5;
            &+.list_sec {
                margin-top:2.8rem;
            }
        }
        .sec_head{
            padding: 0 $GapSideBase;
            margin-bottom: 1.5rem;
            .tit{
                overflow: hidden;
                display: flex;
                align-items: center;
                color:#000;
                @include FontTitle16;
                > strong{
                    display: block;
                    line-height: 2.2rem;
                    flex: 0 1 auto;
                    word-break: keep-all;
                    word-wrap: break-word;
                }
            }
            .ico.shuffle{
                flex: none;
                margin-left: .4rem;
                &::before {
                    width: 2.4rem;
                    height: 2.4rem;
                    background-image: url("../img/icons_24_ic_shuffle_black.svg");
                }
            }
            .btn{
                padding:0;
                color: #75777b;
                @include FontBody14;
                &.view_all{
                    padding-right: 1.2rem;
                    background:url('../img/icons_12_ic_chervron_right_grey_06.svg') no-repeat 100% .6rem;
                }
            }
        }
    }
}
// e: recom Main

//s: Main swiper
// swiper-slide padding-bottom 1.8rem + list_sec padding-top 2.5rem = list간 간격 4.3rem
.ui_swiper {
    .swiper-container{
        padding:0 $GapSideBase;
    }
    &.swiper_cards,
    &.swiper_hottopics {
        margin-bottom: -1.8rem;
        .swiper-slide {
            padding: 0 0 1.8rem 0;
            width: 15.6rem;
        }
    }
    &.swiper_banners {
        margin-bottom:-1.8rem;
        .swiper-container {
            margin:0;
        }
        .swiper-slide {
            width :100%;
            padding-bottom:1.8rem;
            .image_wrap{
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: $RadiusLarge;
                @include Shadow3;
                img {
                    width: 100%;
                }
            }
        }
    }
    &.swiper_playlists {
        .swiper-slide {
            width: 15.6rem;
        }
    }
}
//e: Main swiper
