// s: hottopic 전체보기
.topic_list_wrap {
    width:100%; 
    overflow: hidden;
    .card_topic_list {
        display: flex;
        flex-wrap: wrap;
        margin: .6rem 0;
        justify-content: space-between;
        .card_topic {
            flex:none;
            margin: .6rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
@media screen and (min-width: 468px) {
    .topic_list_wrap .card_topic_list {
        margin: 0.6rem calc((33.3% - 15.6rem)/-2);
        justify-content: flex-start;
        .card_topic{
            min-width: auto;
            margin: .6rem calc((33.3% - 15.6rem)/2);
        }
    }
}
@media screen and (min-width: 625px){
    .topic_list_wrap .card_topic_list {
        margin: .6rem -.4rem;
        justify-content: flex-start;
        .card_topic{
            min-width: auto;
            margin: .6rem .4rem;
        }
    }
}
// e: hottopic 전체보기
