.acco {
    &_title {
        position: relative;
        display:block;
        &::after {
            content:"";
            display:block;
            position: absolute;
            z-index: 10;
        }
        &.is_active::after {
            transform: rotate(180deg);
        }
    }
    &_content {
        display:none;
        &.is_active {
            display:block;
        }
    }
}