<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="../../favicon.ico" />
    <!-- Guide Common -->
    <link href="../../assets/css/index.css" rel="stylesheet" />
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/ui.common.js"></script>
    <!-- Guide IA -->
    <link href="../assets/css/guide.css" rel="stylesheet" />
    <title>mySUNI Design Mobile V2</title>
</head>

<body>
    <div class="g_wrap">
        <header>
            <h1>Publishing Guide</h1>
        </header>
        <div class="g_cont">
            <section class="g_sec">
                <h2 class="g_h2">Card Basic</h2>
                <h3 class="g_h3">Playlist</h3>
                <h4 class="g_h4">Playlist Type1</h4>
                <div class="g_preview">
                    <div class="card basic playlist type1">
                        <div class="card_head">
                            <button type="button" class="btn ico file vod"><span class="blind">VOD Play 보러가기</span></button>
                            <button type="button" class="text primary buy">플레이리스트 담기</button>
                        </div>
                        <a href="javasccript:void(0)" class="card_inner">
                            <div class="card_body">
                                <p class="title"><strong>일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십</strong></p>
                            </div>
                            <div class="card_foot">
                                <div class="profile">
                                    <span class="avata" style="background-image:url('../../assets/img/demo/avata-profile-80-01.png')"></span>
                                    <p class="name">전혜림가나다라바사아자차카타파하아자차</p>
                                </div>
                                <div class="count">
                                    <em>총 3개</em>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <h4 class="g_h4">Playlist Type2</h4>
                <div class="g_preview">
                    <div class="card basic playlist type2">
                        <a href="javascript:void(0)" class="card_inner">
                            <div class="card_head">
                                <em class="make">내가만든</em>
                            </div>
                            <div class="card_body">
                                <p class="title"><strong>일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십</strong></p>
                            </div>
                            <div class="card_foot">
                                <div class="profile">
                                    <span class="avata" style="background-image:url('../../assets/img/demo/avata-profile-80-01.png')"></span>
                                    <p class="name">전혜림가나다라바사아자차카타파하아자차</p>
                                </div>
                                <div class="count">
                                    <em>총 3개</em>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card basic playlist type2">
                        <a href="javascript:void(0)" class="card_inner">
                            <div class="card_head">
                                <em class="buy">내가담은</em>
                            </div>
                            <div class="card_body">
                                <p class="title"><strong>일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십</strong></p>
                            </div>
                            <div class="card_foot">
                                <div class="profile">
                                    <span class="avata" style="background-image:url('../../assets/img/demo/avata-profile-80-01.png')"></span>
                                    <p class="name">전혜림가나다라바사아자차카타파하아자차</p>
                                </div>
                                <div class="count">
                                    <em>총 3개</em>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card basic playlist type2">
                        <a href="javascript:void(0)" class="card_inner">
                            <div class="card_head">
                                <em class="recom">추천받은</em>
                            </div>
                            <div class="card_body">
                                <p class="title"><strong>일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십</strong></p>
                            </div>
                            <div class="card_foot">
                                <div class="profile">
                                    <span class="avata" style="background-image:url('../../assets/img/demo/avata-profile-80-01.png')"></span>
                                    <p class="name">전혜림가나다라바사아자차카타파하아자차</p>
                                </div>
                                <div class="count">
                                    <em>총 3개</em>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <h2 class="g_h2">Card Vertical</h2>
                <h3 class="g_h3">Learning</h3>
                <div class="g_preview">
                    <div class="card ver learning">
                        <a href="javascript:void(0)" class="card_inner">
                            <div class="card_thumb">
                                <span class="thumb" style="background-image:url('../../assets/img/demo/thumb-01.png')" alt="">
                                    <button type="button" class="btn ico ribon">
                                        <span class="blind">찜하기</span>
                                    </button>
                                </span>
                            </div>
                            <div class="card_body">
                                <p class="sub_txt">카테고리명</p>
                                <p class="title"><strong>코스명이 들어갑니다 코스명이 들어가요 코스명이요 세줄까지 들어가요.</strong></p>
                            </div>
                        </a>
                        <div class="card_foot">
                            <span class="rate_count">4.8</span>
                            <button type="button" class="btn ico learning"><span class="blind">학습목록</span></button>
                        </div>
                    </div>
                    <div class="card ver learning">
                        <a href="javascript:void(0)" class="card_inner">
                            <div class="card_thumb">
                                <span class="thumb" style="background-image:url('../../assets/img/demo/thumb-01.png')" alt="">
                                    <button type="button" class="btn ico ribon">
                                        <span class="blind">찜하기</span>
                                    </button>
                                </span>
                            </div>
                            <div class="card_body">
                                <p class="sub_txt">카테고리명</p>
                                <p class="title"><strong>코스명이 들어갑니다 코스명이 들어가요 코스명이요 세줄까지 들어가요.</strong></p>
                            </div>
                        </a>
                        <div class="card_foot">
                            <span class="rate_count">4.8</span>
                            <button type="button" class="btn ico learning"><span class="blind">학습목록</span></button>
                        </div>
                    </div>
                </div>

                <h3 class="g_h3">Playlist</h3>
                <div class="g_preview">
                    <div class="card ver playlist">
                        <a href="javascript:void(0)" class="card_inner">
                            <span class="thumb" style="background-image:url('../../assets/img/demo/thumb-01.png')" alt="">
                                <div class="avata_name">
                                    <span class="avata" style="background-image:url('../../assets/img/demo/avata-profile-80-01.png')"></span>
                                    <strong class="name">꿈꾸는하루 꿈꾸는하루 꿈꾸는하루 이틀 삼사오육일</strong>
                                </div>
                            </span>
                            <div class="card_body">
                                <p class="title"><strong>리스트명최대두줄리스트명최대두줄 리스트명최대두줄리스트명최대두줄</strong></p>
                            </div>
                        </a>
                    </div>
                </div>

                <h3 class="g_h3">Topic</h3>
                <div class="g_preview">
                    <div class="card ver topic">
                        <a href="javascript:void(0)" class="card_inner">
                            <div class="card_thumb">
                                <span class="thumb" style="background-image:url('../../assets/img/demo/thumb-01.png')" alt=""></span>
                            </div>
                            <div class="card_body">
                                <p class="title"><strong>핫토픽이름이들어갑니다핫토픽이름핫토픽이름</strong></p>
                            </div>
                            <div class="card_foot">
                                <p class="total_count">
                                    <span class="total">총</span>&nbsp;
                                    <em class="count">7</em>
                                    <span class="text">개 학습카드</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <h2 class="g_h2">Card Horizontal</h2>
                <h3 class="g_h3">Badge</h3>
                <div class="g_preview">
                    <div class="card hor badge">
                        <a href="javascript:void(0)" class="card_inner">
                            <div class="card_thumb">
                                <span class="thumb" style="background-image:url('../../assets/img/demo/thumb-badge01.png')" alt=""></span>
                            </div>
                            <div class="card_body">
                                <p class="sub_txt">카테고리명</p>
                                <p class="title"><strong>Citizen Data Scientist (No-Code)</strong></p>
                                <p class="total_count">진행중 2&nbsp;/&nbsp;11</p>
                            </div>
                        </a>
                    </div>
                </div>
                <h3 class="g_h3">My Badge</h3>
                <div class="g_preview">
                    <div class="card hor mybadge">
                        <a href="javascript:void(0)" class="card_inner">
                            <div class="card_thumb">
                                <span class="thumb" style="background-image:url('../../assets/img/demo/thumb-badge01.png')" alt=""></span>
                            </div>
                            <div class="card_body">
                                <p class="sub_txt">카테고리명</p>
                                <p class="title"><strong>Citizen Data Scientist (No-Code)</strong></p>
                                <p class="date">획득일자 2022.03.31</p>
                            </div>
                        </a>
                        <div class="card_foot">
                            <Button type="button" class="text">인증서보기</Button>
                        </div>
                    </div>
                </div>

                <h2 class="g_h2">Card ETC</h2>
                <h3 class="g_h3">Community</h3>
                <div class="g_preview">
                    <div class="card community">
                        <a href="javascript:void(0)" class="item_body">
                            <div class="item_thumb">
                                <span class="thumb" aria-hidden="true"
                                    style="background-image:url('../../assets/img/demo/thumb-community01.png')"
                                    alt=""></span>
                            </div>
                            <div class="item_title">
                                <p class="sub_txt">카테고리명</p>
                                <p class="title"><strong>[ Management College ] _ 직무 Essential 과정의
                                        Community</strong></p>
                            </div>
                            <div class="item_foot">
                                <p class="desc">
                                    SV/ESG를 깊이 이해하고 업무에 적용하기 위해 함께 학습하는 공간 SV/ESG를 깊이 이해하고 업무에 적용하기 위해 함께 학습하는 공간
                                </p>
                            </div>
                        </a>
                        <div class="item_util">
                            <div class="checkbox rating">
                                <input type="checkbox" name="rating" id="rating1" tabindex="0" class="hidden" />
                                <label for="rating1"><span class="blind">관심등록</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="g_h3">Cube 내 해당 카드</h3>
                <div class="g_preview">
                    <div class="card cube_parents">
                        <a href="javascript:voide(0)" class="card_inner">
                            <div class="card_thumb">
                                <span class="thumb" style="background-image : url('../../assets/img/demo/thumb-01.png');" alt=""></span>
                                <button type="button" class="btn ico ribon"><span class="blind">찜하기</span></button>
                            </div>
                            <div class="card_body">
                                <p class="sub_txt"><strong>BM Design & Storytelling</strong></p>
                                <p class="title"><strong>[AI Biz Insight] RPA를 활용한 SK텔레콤의 업무 효율화 사례같은 제목은 몇줄까지들어가는지 정책이 필요한부분입니다.</strong></p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>