<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="../../favicon.ico" />
    <!-- Guide Common -->
    <link href="../../assets/css/index.css" rel="stylesheet" />
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/ui.common.js"></script>
    <!-- Guide IA -->
    <link href="../assets/css/guide.css" rel="stylesheet" />
    <title>mySUNI Design Mobile V2</title>
    <style>
        .page_expand {position: relative;}
    </style>
</head>

<body>
    <div class="g_wrap">
        <header>
            <h1>Publishing Guide</h1>
        </header>
        <div class="g_cont">
            <section class="g_sec">
                <h2 class="g_h2">Buttons</h2>
                <p class="g_info">공통 스타일은 유형을 구분한다.</p>
                <p class="g_info">상세 스타일은 컨텐츠로 구분한다.</p>
                <p class="g_info">옵션 스타일은 강조만 구분한다.<br/>(Primary, Secondary, Light)</p>
                <h3 class="g_h3">Types</h3>
                <h4 class="g_h4">Basic Type</h4>
                <div class="g_preview">
                    <button type="button" class="btn basic">Basic</button>
                    <button type="button" class="btn basic primary">Primary</button>
                    <button type="button" class="btn basic" disabled>Basic</button>
                    <button type="button" class="btn basic primary" disabled>Primary</button>
                </div>
                <h4 class="g_h4">Select Type</h4>
                <div class="g_preview">
                    <button type="button" class="btn select">Select</button>
                    <button type="button" class="btn select is_valued">Valued</button>
                    <button type="button" class="btn select" disabled>Disabled</button>
                    <button type="button" class="btn select is_valued" disabled>Valued</button>
                </div>
                <h4 class="g_h4">Text Type</h4>
                <div class="g_preview">
                    <button type="button" class="btn text">취소</button>
                    <button type="button" class="btn text primary">확인</button>
                    <button type="button" class="btn text" disabled>취소</button>
                    <button type="button" class="btn text primary" disabled>확인</button>
                    <br />
                    <button type="button" class="btn text light">더보기</button>
                    <button type="button" class="btn text light" disabled>더보기</button>
                    <br />
                    <button type="button" class="btn text arw_expand">더보기</button>
                    <button type="button" class="btn text arw_expand" disabled>더보기</button>
                    <br />
                    <button type="button" class="btn text arw_link">전체보기</button>
                    <button type="button" class="btn text arw_link" disabled>전체보기</button>
                    <br/>
                    <br/>
                    <div class="theme_dark">
                        <span class="label style1">학습예정</span>
                        <span class="label style1 primary">학습중</span>
                        <span class="label style1 primary">학습완료</span>
                    </div>
                </div>
                <h4 class="g_h4">Pill Type</h4>
                <div class="g_preview">
                    <button type="button" class="btn pill">팔로우</button>
                    <button type="button" class="btn pill light">팔로잉</button>
                    <button type="button" class="btn pill primary">Button</button>
                </div>

                <h4 class="g_h4">Pill2 Type</h4>
                <div class="g_preview">
                    <button type="button" class="btn pill2">전체보기</button>
                    <button type="button" class="btn pill2 secondary">아이템</button>
                </div>

                <h3 class="g_h3">Content</h3>
                <h4 class="g_h4">List Action</h4>
                <div class="g_preview">
                    <div class="list_action">
                        <button type="button" class="btn text arw_expand">더보기</button>
                    </div>
                    <div class="list_action">
                        <button type="button" class="btn text arw_link">전체보기</button>
                    </div>
                    <div class="list_action">
                        <button type="button" class="btn text arw_link"><em class="list_word">‘과정’</em>&nbsp; 검색 결과 전체보기
                            (132)</button>
                    </div>
                </div>
                <h4 class="g_h4">Page Action</h4>
                <p>페이지에서는 page_floating 을 적용한다.</p>
                   <div class="g_preview">
                    <div class="out_sec">
                        <div class="page_action">
                            <button type="button" class="btn basic primary">Primary</button>
                        </div>
                        <div class="page_action">
                            <button type="button" class="btn basic">Default</button>
                            <button type="button" class="btn basic primary">Primary</button>
                        </div>
                    </div>
                    <!-- 페이지에서는 page_floating 로 감싸야 함
                    <div class="page_floating">
                        <div class="page_action">
                            <button type="button" class="btn basic">Default</button>
                            <button type="button" class="btn basic primary">Primary</button>
                        </div>
                    </div>
                    -->
                </div>
                <h4 class="g_h4">Page Expand</h4>
                <div class="g_preview">
                    <div class="out_sec">
                        <div class="page_expand">
                            <button type="button" class="btn expand"><span class="blind">더보기</span></button>
                        </div>
                    </div>
                    <!-- 페이지에서는 page_floating 로 감싸야 함
                    <div class="page_floating">
                        <div class="page_action">
                            <button type="button" class="btn basic">Default</button>
                            <button type="button" class="btn basic primary">Primary</button>
                        </div>
                    </div>
                    -->
                </div>

                <h2 class="g_h2">Icon buttons</h2>
                <h3 class="g_h3">Layout</h3>
                <div class="g_preview">
                    <button type="button" class="btn ico top"><span class="blind">Scroll to top</span></button>
                </div>
                <div class="g_preview theme_dark">
                    <button type="button" class="btn ico top"><span class="blind">Scroll to top</span></button>
                </div>

                <h2 class="g_h2">Chips</h2>
                <h3 class="g_h3">Action</h3>
                <div class="g_preview">
                    <div class="chip_action_group">
                        <button type="button" class="chip action light">Enable</button>
                        <button type="button" class="chip action">Enable</button>
                        <button type="button" class="chip action">Enable</button>
                    </div>
                </div>
                <div class="g_preview theme_dark">
                    <div class="chip_action_group">
                        <button type="button" class="chip action">Enable</button>
                        <button type="button" class="chip action">Enable</button>
                        <button type="button" class="chip action">Enable</button>
                    </div>
                </div>
                <h3 class="g_h3">Filter</h3>
                <div class="g_preview">
                    <div class="chip_filter_group">
                        <div class="chip filter">
                            <input type="radio" name="filterChip" id="filterChip1" tabindex="0" class="hidden" checked="">
                            <label for="filterChip1">전체</label>
                        </div>
                        <div class="chip filter">
                            <input type="radio" name="filterChip" id="filterChip2" tabindex="0" class="hidden" />
                            <label for="filterChip2">AI/DT</label>
                        </div>
                        <div class="chip filter">
                            <input type="radio" name="filterChip" id="filterChip3" tabindex="0" class="hidden" />
                            <label for="filterChip3">Global</label>
                        </div>
                        <div class="chip filter">
                            <input type="radio" name="filterChip" id="filterChip4" tabindex="0" class="hidden" />
                            <label for="filterChip4">Management</label>
                        </div>
                        <div class="chip filter">
                            <input type="radio" name="filterChip" id="filterChip5" tabindex="0" class="hidden" />
                            <label for="filterChip5">혁신디자인</label>
                        </div>
                        <div class="chip filter">
                            <input type="radio" name="filterChip" id="filterChip6" tabindex="0" class="hidden" />
                            <label for="filterChip6">Global</label>
                        </div>
                    </div>
                </div>

                <h3 class="g_h3">Input</h3>
                <div class="g_preview">
                    <div class="chip_input_group">
                        <span class="chip input">
                            <button type="button" class="btn default">Enable</button>
                            <button type="button" class="btn ico remove"><span class="blind">삭제</span></button>
                        </span>
                        <span class="chip input">
                            <button type="button" class="btn default">Enable</button>
                            <button type="button" class="btn ico remove"><span class="blind">삭제</span></button>
                        </span>
                    </div>
                </div>

                <h2 class="g_h2">Divider</h2>
                <h3 class="g_h3">Section Divider</h3>
                <div class="g_preview">
                    <hr class="divider" />
                    <br />
                    <hr class="divider xs" />
                    <br />
                    <hr class="divider2" />
                    <br />
                    <hr class="divider2 xs" />
                </div>
            </section>
        </div>
    </div>
</body>

</html>