<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="../../favicon.ico" />
    <!-- Guide Common -->
    <link href="../../assets/css/index.css" rel="stylesheet" />
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/ui.common.js"></script>
    <!-- Guide IA -->
    <link href="../assets/css/guide.css" rel="stylesheet" />
    <title>mySUNI Design Mobile V2</title>
</head>

<body>
    <div class="g_wrap">
        <header>
            <h1>Publishing Guide</h1>
        </header>
        <div class="g_cont">
            <section class="g_sec">
                <h2 class="g_h2">Avata</h2>
                <h3 class="g_h3">Default</h3>
                <div class="g_preview">
                    <!-- 일반 아바타 -->
                    일반 아바타 : <span class="avata" style="background-image:url('../../assets/img/demo/avata-profile-80-01.png')"><span class="blind">Profile Avata</span></span>
                    <br />
                    <!-- 링크 아바타 -->
                    링크 아바타 : <a href="#" class="avata" style="background-image:url('../../assets/img/demo/avata-profile-80-02.png')"></a>
                    <br />
                    <!-- 버튼 아바타 -->
                    버튼 아바타 : <button type="button" class="avata" style="background-image:url('../../assets/img/demo/pic_profile_default.png');"></button>
                </div>
                <h3 class="g_h3">Sizes</h3>
                <div class="g_preview">
                    <p>컨텐츠별 사이즈는 컨텐츠에서 처리한다.</p>
                </div>

				<h2 class="g_h2">Thumbnails</h2>
				<h3 class="g_h3">Thumbs</h3>
				<h4 class="g_h4">Default</h4>
				<div class="g_preview">
					<p class="g_para">비율 다르면 채워지도록 (가로 비율이 큼)</p>
					<div style="width:20rem; height:16rem; background: #ccc">
						<span class="thumb" aria-hidden="true" style="background-image:url('../../assets/img/demo/thumb-01.png')" alt=""></span>
					</div>
					<br />
					<p class="g_para">비율 다르면 채워지도록 (세로 비율이 큼)</p>
					<div style="width:20rem; height:16rem; background: #ccc">
						<span class="thumb" aria-hidden="true" style="background-image:url('../../assets/img/demo/thumb-02.png')" alt=""></span>
					</div>
				</div>

				<h4 class="g_h4">Sizes</h4>
				<div class="g_preview">
					<p>사이즈는 상위구조 컨텐츠 스타일로 처리한다. (Default: w:100% * h:100%)</p>
				</div>

                <h2 class="g_h2">No Data</h2>
                <h3 class="g_h3">Styles</h3>
                <div class="g_preview">
                    <div class="no_data">
                        <p class="tit"><strong>검색된 결과가 없습니다.</strong></p>
                        <p class="sub_txt">부연설명 입니다.</p>
                    </div>
                </div>
                <div class="g_preview theme_dark">
                    <div class="no_data">
                        <p class="tit"><strong>검색된 결과가 없습니다.</strong></p>
                        <p class="sub_txt">부연설명 입니다.</p>
                    </div>
                </div>
                <h3 class="g_h3">Flex Area</h3>
                <div class="preview">
                    <div style="display:flex; flex-direction: column;position:relative; height:200px; background-color:#ddd;">
                        <div class="flex_area centered">
                            <div class="no_data">
                                <p class="tit"><strong>검색된 결과가 없습니다.</strong></p>
                                <p class="sub_txt">부연설명 입니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="theme_dark" style="display:flex; flex-direction: column;position:relative; height:200px;">
                        <div class="flex_area centered">
                            <div class="no_data">
                                <p class="tit"><strong>검색된 결과가 없습니다.</strong></p>
                                <p class="sub_txt">부연설명 입니다.</p>
                            </div>
                        </div>
                    </div>
                </div>

				<h2 class="g_h2">Result Data</h2>
                <h3 class="g_h3">Styles</h3>
				<div class="g_preview">
					<div class="result_data">
						<span class="img">
							<img src="../../assets/img/demo/confirm.png" alt="" />
						</span>
						<p class="msg">
							<strong class="tit">등록 완료 되었습니다.</strong>
						</p>
					</div>
				</div>

            </section>
        </div>
    </div>
</body>

</html>