<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="../../favicon.ico" />
    <!-- Guide Common -->
    <link href="../../assets/css/index.css" rel="stylesheet" />
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/ui.common.js"></script>
    <!-- Guide IA -->
    <link href="../assets/css/guide.css" rel="stylesheet" />
    <title>mySUNI Design Mobile V2</title>
    <style>
        .divider {
            display:none !important;
        }
    </style>
</head>

<body>
    <div class="g_wrap">
        <header>
            <h1>Publishing Guide</h1>
        </header>
        <div class="g_cont">

        <section class="g_sec">
            <!-- Input -->
            <h2 class="g_h2">Input</h2>
            <h3 class="g_h3">Basic</h3>
            <div class="g_preview">
                <input placeholder="Placeholder" class="basic" />
                <br />
                <input placeholder="Placeholder" class="basic" value="Value" />
                <br />
                <input placeholder="Placeholder" class="basic" disabled />
            </div>

            <h2 class="g_h2">Input Group</h2>
            <h3 class="g_h3">Clear</h3>
            <div class="g_preview">
                <span class="input_group clear">
                    <input type="text" placeholder="placeholder" value="" class="basic" />
                    <button type="button" class="btn ico clear" ><span class="blind">삭제</span></button>
                </span>
                <br />
                <span class="input_group clear is_valued">
                    <input type="text" placeholder="placeholder" value="입력된 상태" class="basic" />
                    <button type="button" class="btn ico clear" ><span class="blind">삭제</span></button>
                </span>
            </div>
            <h3 class="g_h3">Count</h3>
            <div class="g_preview">
                <div class="input_group clear">
                    <input type="text" placeholder="placeholder" value="" class="basic" />
                    <button type="button" class="btn ico clear" ><span class="blind">삭제</span></button>
                    <p class="form_bytes">0/100</p>
                </div>
                <br />
                <div class="input_group clear is_valued">
                    <input type="text" placeholder="placeholder" value="입력된 상태" class="basic" />
                    <button type="button" class="btn ico clear" ><span class="blind">삭제</span></button>
                    <p class="form_bytes">0/100</p>
                </div>
                <br />
                <div class="input_group">
                    <textarea placeholder="Placeholder" cols="10" rows="5" class="basic"></textarea>
                    <p class="form_bytes">0/100</p>
                </div>
            </div>
            <h3 class="g_h3">인증번호</h3>
            <div class="g_preview">
                <div class="input_group cert is_visible">
                    <input type="password" id="loginFormCert" placeholder="인증번호" value="1234" class="basic" />
                    <p class="form_cert"><strong>남은시간</strong><em>9:59</em></p>
                </div>
                <p class="form_desc">전송된 인증번호를 입력해주세요.</p>
            </div>
            <h3 class="g_h3">Search</h3>
            <div class="g_preview">
                <span class="input_group clear srch">
                    <i class="ico srch"><span class="blind">검색</span></i>
                    <input type="text" placeholder="placeholder" value="" class="basic" />
                    <button type="button" class="btn ico clear" ><span class="blind">삭제</span></button>
                </span>
                <br />
                <span class="input_group clear srch is_valued">
                    <i class="ico srch"><span class="blind">검색</span></i>
                    <input type="search" placeholder="placeholder" value="입력된 상태" class="basic" />
                    <button type="button" class="btn ico clear" ><span class="blind">삭제</span></button>
                </span>
                <br />
                <div class="out_sec">
                    <div class="board_search_area">
                        <span class="input_group clear srch">
                            <i class="ico srch"><span class="blind">검색</span></i>
                            <input type="search" placeholder="placeholder" value="" class="basic" />
                            <button type="button" class="btn ico clear" ><span class="blind">삭제</span></button>
                        </span>
                    </div>
                    <div class="board_search_area">
                        <span class="input_group clear srch is_valued">
                            <i class="ico srch"><span class="blind">검색</span></i>
                            <input type="search" placeholder="placeholder" value="입력된 상태" class="basic" />
                            <button type="button" class="btn ico clear" ><span class="blind">삭제</span></button>
                        </span>
                    </div>
                </div>
            </div>
            <h3 class="g_h3">Picker</h3>
            <h4 class="g_h4">Date</h4>
            <div class="g_preview">
                <div class="form_controls date">
                    <span class="input_group date">
                        <input type="text" class="basic" placeholder="YYYY.MM.DD" />
                        <button type="button" class="btn ico date"><span class="blind">시작날짜</span></button>
                    </span>
                    <i class="form_split">-</i>
                    <span class="input_group date">
                        <input type="text" class="basic" placeholder="YYYY.MM.DD" />
                        <button type="button" class="btn ico date"><span class="blind">시작날짜</span></button>
                    </span>
                </div>
            </div>
            <h4 class="g_h4">Time</h4>
            <div class="g_preview">
                <div class="input_group time">
                    <input type="text" value="오전 09:30" class="basic" />
                    <button type="button" class="btn ico time"><div class="blind">시간선택</div></button>
                </div>
            </div>

            <!-- Textarea -->
            <h2 class="g_h2">Textarea</h2>
            <h3 class="g_h3">Basic</h3>
            <div class="g_preview">
                <textarea placeholder="Placeholder" cols="10" rows="2" class="basic"></textarea>
                <br />
                <textarea placeholder="Placeholder" cols="10" rows="2" value="Value" class="basic"></textarea>
                <br />
                <textarea placeholder="Placeholder" cols="10" rows="2" class="basic" disabled></textarea>
            </div>

            <!-- Select -->
            <h2 class="g_h2">Select</h2>
            <div class="g_preview">
                <p class="g_desc">기본으로 버튼만 제공한다.</p>
                <button type="button" class="btn select">Placeholder</button>
                <button type="button" class="btn select is_valued">Valueed</button>
                <button type="button" class="btn select is_disabled" disabled>Placeholder Disabled</button>
                <button type="button" class="btn select is_valued" disabled>Valueed Disabled</button>
                <p class="g_desc">Bottomsheet Page 참고</p>
                <p><a href="../../html/Common/Modals.html" class="g_link">/html/Common/Modals.html</a> 가이드 참조한다.</p>
            </div>

            <!-- Checkbox -->
            <h2 class="g_h2">Checkbox</h2>
            <h3 class="g_h3">Basic (Size: 20)</h3>
            <div class="g_preview">
                <div class="checkbox basic">
                    <input type="checkbox" name="checkbox1" id="checkbox11" tabindex="0" class="hidden" />
                    <label for="checkbox11"></label>
                </div>
                <br />
                <div class="checkbox basic">
                    <input type="checkbox" name="checkbox1" id="checkbox12" tabindex="0" class="hidden" />
                    <label for="checkbox12"><span>Default</span></label>
                </div>
                <br />
                <div class="checkbox basic">
                    <input type="checkbox" name="checkbox1" id="checkbox13" tabindex="0" class="hidden" checked />
                    <label for="checkbox13"><span>Default Checked</span></label>
                </div>
                <br />
                <div class="checkbox basic">
                    <input type="checkbox" name="checkbox1" id="checkbox14" tabindex="0" class="hidden" disabled />
                    <label for="checkbox14"><span>Disabled</span></label>
                </div>
                <br />
                <div class="checkbox basic">
                    <input type="checkbox" name="checkbox1" id="checkbox15" tabindex="0" class="hidden" disabled checked />
                    <label for="checkbox15"><span>Disabled Checked</span></label>
                </div>
            </div>
            <div class="g_preview theme_dark out_sec" style="padding:2rem">
                <div class="checkbox basic">
                    <input type="checkbox" name="checkboxDark1" id="checkboxDark11" tabindex="0" class="hidden" />
                    <label for="checkboxDark11"></label>
                </div>
                <br />
                <div class="checkbox basic">
                    <input type="checkbox" name="checkboxDark1" id="checkboxDark12" tabindex="0" class="hidden" />
                    <label for="checkboxDark12"><span>Default</span></label>
                </div>
                <br />
                <div class="checkbox basic">
                    <input type="checkbox" name="checkboxDark1" id="checkboxDark13" tabindex="0" class="hidden" checked />
                    <label for="checkboxDark13"><span>Default Checked</span></label>
                </div>
                <br />
                <div class="checkbox basic">
                    <input type="checkbox" name="checkboxDark1" id="checkboxDark14" tabindex="0" class="hidden" disabled />
                    <label for="checkboxDark14"><span>Disabled</span></label>
                </div>
                <br />
                <div class="checkbox basic">
                    <input type="checkbox" name="checkboxDark1" id="checkboxDark15" tabindex="0" class="hidden" disabled checked />
                    <label for="checkboxDark15"><span>Disabled Checked</span></label>
                </div>
            </div>
            <h3 class="g_h3">Basic Large (Size: 24)</h3>
            <div class="g_preview">
                <div class="checkbox basic large">
                    <input type="checkbox" name="checkbox2" id="checkbox21" tabindex="0" class="hidden" />
                    <label for="checkbox21"></label>
                </div>
                <br />
                <div class="checkbox basic large">
                    <input type="checkbox" name="checkbox2" id="checkbox22" tabindex="0" class="hidden" />
                    <label for="checkbox22"><span>Default</span></label>
                </div>
                <br />
                <div class="checkbox basic large">
                    <input type="checkbox" name="checkbox2" id="checkbox23" tabindex="0" class="hidden" checked />
                    <label for="checkbox23"><span>Default Checked</span></label>
                </div>
                <br />
                <div class="checkbox basic large">
                    <input type="checkbox" name="checkbox2" id="checkbox24" tabindex="0" class="hidden" disabled />
                    <label for="checkbox24"><span>Disabled</span></label>
                </div>
                <br />
                <div class="checkbox basic large">
                    <input type="checkbox" name="checkbox2" id="checkbox25" tabindex="0" class="hidden" disabled checked />
                    <label for="checkbox25"><span>Disabled Checked</span></label>
                </div>
            </div>
            <div class="g_preview theme_dark out_sec" style="padding:2rem">
                <div class="checkbox basic large">
                    <input type="checkbox" name="checkboxDark2" id="checkboxDark21" tabindex="0" class="hidden" />
                    <label for="checkboxDark21"></label>
                </div>
                <br />
                <div class="checkbox basic large">
                    <input type="checkbox" name="checkboxDark2" id="checkboxDark22" tabindex="0" class="hidden" />
                    <label for="checkboxDark22"><span>Default</span></label>
                </div>
                <br />
                <div class="checkbox basic large">
                    <input type="checkbox" name="checkboxDark2" id="checkboxDark23" tabindex="0" class="hidden" checked />
                    <label for="checkboxDark23"><span>Default Checked</span></label>
                </div>
                <br />
                <div class="checkbox basic large">
                    <input type="checkbox" name="checkboxDark2" id="checkboxDark24" tabindex="0" class="hidden" disabled />
                    <label for="checkboxDark24"><span>Disabled</span></label>
                </div>
                <br />
                <div class="checkbox basic large">
                    <input type="checkbox" name="checkboxDark2" id="checkboxDark25" tabindex="0" class="hidden" disabled checked />
                    <label for="checkboxDark25"><span>Disabled Checked</span></label>
                </div>
            </div>
            <h3 class="g_h3">Block (Survey)</h3>
            <div class="g_preview">
                <div class="checkbox block">
                    <input type="checkbox" name="checkbox3" id="checkbox31" tabindex="0" class="hidden" />
                    <label for="checkbox31"><span>Make my profile visible</span></label>
                </div>
                <div class="checkbox block">
                    <input type="checkbox" name="checkbox3" id="checkbox32" tabindex="0" class="hidden" />
                    <label for="checkbox32"><span>Make my profile visible</span></label>
                </div>
                <div class="checkbox block">
                    <input type="checkbox" name="checkbox3" id="checkbox33" tabindex="0" class="hidden" />
                    <label for="checkbox33"><span>Make my profile visible</span></label>
                </div>
            </div>
            <h3 class="g_h3">Weekly</h3>
            <div class="g_preview">
                <div class="selecection">
                    <div class="checkbox">
                        <input type="checkbox" name="week" id="week1" tabindex="0" class="hidden" checked/>
                        <label for="week1">월</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="week" id="week2" tabindex="0" class="hidden" />
                        <label for="week2">화</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="week" id="week3" tabindex="0" class="hidden" />
                        <label for="week3">수</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="week" id="week4" tabindex="0" class="hidden" />
                        <label for="week4">목</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="week" id="week5" tabindex="0" class="hidden" />
                        <label for="week5">금</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="week" id="week6" tabindex="0" class="hidden" />
                        <label for="week6">토</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="week" id="week7" tabindex="0" class="hidden" />
                        <label for="week7">일</label>
                    </div>
                </div>
            </div>

            <!-- Radio -->
            <h2 class="g_h2">Radio</h2>
            <h3 class="g_h3">Basic (Size: 20)</h3>
            <div class="g_preview">
                <div class="radio basic">
                    <input type="radio" name="radio1" id="radio11" tabindex="0" class="hidden" />
                    <label for="radio11"></label>
                </div>
                <br />
                <div class="radio basic">
                    <input type="radio" name="radio1" id="radio12" tabindex="0" class="hidden" />
                    <label for="radio12"><span>Default</span></label>
                </div>
                <br />
                <div class="radio basic">
                    <input type="radio" name="radio1" id="radio13" tabindex="0" class="hidden" checked />
                    <label for="radio13"><span>Default Checked</span></label>
                </div>
                <br />
                <div class="radio basic">
                    <input type="radio" name="radioDisabled1" id="radio14" tabindex="0" class="hidden" disabled />
                    <label for="radio14"><span>Disabled</span></label>
                </div>
                <br />
                <div class="radio basic">
                    <input type="radio" name="radioDisabled1" id="radio15" tabindex="0" class="hidden" disabled checked />
                    <label for="radio15"><span>Disabled Checked</span></label>
                </div>
            </div>
            <div class="g_preview theme_dark out_sec" style="padding:2rem">
                <div class="radio basic">
                    <input type="radio" name="radioDark1" id="radioDark11" tabindex="0" class="hidden" />
                    <label for="radioDark11"></label>
                </div>
                <br />
                <div class="radio basic">
                    <input type="radio" name="radioDark1" id="radioDark12" tabindex="0" class="hidden" />
                    <label for="radioDark12"><span>Default</span></label>
                </div>
                <br />
                <div class="radio basic">
                    <input type="radio" name="radioDark1" id="radioDark13" tabindex="0" class="hidden" checked />
                    <label for="radioDark13"><span>Default Checked</span></label>
                </div>
                <br />
                <div class="radio basic">
                    <input type="radio" name="radioDisabledDark1" id="radioDark14" tabindex="0" class="hidden" disabled />
                    <label for="radioDark14"><span>Disabled</span></label>
                </div>
                <br />
                <div class="radio basic">
                    <input type="radio" name="radioDisabledDark1" id="radioDark15" tabindex="0" class="hidden" disabled checked />
                    <label for="radioDark15"><span>Disabled Checked</span></label>
                </div>
            </div>
            <h3 class="g_h3">Basic Large (Size: 24)</h3>
            <div class="g_preview">
                <div class="radio basic large">
                    <input type="radio" name="radio2" id="radio21" tabindex="0" class="hidden" />
                    <label for="radio21"></label>
                </div>
                <br />
                <div class="radio basic large">
                    <input type="radio" name="radio2" id="radio22" tabindex="0" class="hidden" />
                    <label for="radio22"><span>Default</span></label>
                </div>
                <br />
                <div class="radio basic large">
                    <input type="radio" name="radio2" id="radio23" tabindex="0" class="hidden" checked />
                    <label for="radio23"><span>Default Checked</span></label>
                </div>
                <br />
                <div class="radio basic large">
                    <input type="radio" name="radioDisabled2" id="radio24" tabindex="0" class="hidden" disabled />
                    <label for="radio24"><span>Disabled</span></label>
                </div>
                <br />
                <div class="radio basic large">
                    <input type="radio" name="radioDisabled2" id="radio25" tabindex="0" class="hidden" disabled checked />
                    <label for="radio25"><span>Disabled Checked</span></label>
                </div>
            </div>
            <div class="g_preview theme_dark out_sec" style="padding:2rem">
                <div class="radio basic large">
                    <input type="radio" name="radioDark2" id="radioDark21" tabindex="0" class="hidden" />
                    <label for="radioDark21"></label>
                </div>
                <br />
                <div class="radio basic large">
                    <input type="radio" name="radioDark2" id="radioDark22" tabindex="0" class="hidden" />
                    <label for="radioDark22"><span>Default</span></label>
                </div>
                <br />
                <div class="radio basic large">
                    <input type="radio" name="radioDark2" id="radioDark23" tabindex="0" class="hidden" checked />
                    <label for="radioDark23"><span>Default Checked</span></label>
                </div>
                <br />
                <div class="radio basic large">
                    <input type="radio" name="radioDisabledDark2" id="radioDark24" tabindex="0" class="hidden" disabled />
                    <label for="radioDark24"><span>Disabled</span></label>
                </div>
                <br />
                <div class="radio basic large">
                    <input type="radio" name="radioDisabledDark2" id="radioDark25" tabindex="0" class="hidden" disabled checked />
                    <label for="radioDark25"><span>Disabled Checked</span></label>
                </div>
            </div>
            <h3 class="g_h3">Block (Survey)</h3>
            <div class="g_preview">
                <div class="radio block">
                    <input type="radio" name="radio3" id="radio31" tabindex="0" class="hidden" />
                    <label for="radio31"><span>Make my profile visible</span></label>
                </div>
                <div class="radio block">
                    <input type="radio" name="radio3" id="radio32" tabindex="0" class="hidden" />
                    <label for="radio32"><span>Make my profile visible</span></label>
                </div>
                <div class="radio block">
                    <input type="radio" name="radio3" id="radio33" tabindex="0" class="hidden" />
                    <label for="radio33"><span>Make my profile visible</span></label>
                </div>
            </div>

            <!-- Toggle -->
            <h2 class="g_h2">Toggle</h2>
            <h3 class="g_h3">Basic</h3>
            <div class="g_preview">
                <div class="toggle basic">
                    <input type="checkbox" name="toggle1" id="toggle1" tabindex="0" class="hidden"/>
                    <label for="toggle1"><span class="blind">Toggle</span></label>
                </div>
            </div>

            <!-- Required -->
            <h2 class="g_h2">필수입력 표시</h2>
            <div class="g_preview">
                <label for="" class="form_tit">라벨링</label>
                <label for="" class="form_tit required">라벨링</label>
            </div>
        </section>
    </div>
</div>
</body>

</html>