<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="../../favicon.ico" />
    <!-- Guide Common -->
    <link href="../../assets/css/index.css" rel="stylesheet" />
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/ui.common.js"></script>
    <!-- Guide IA -->
    <link href="../assets/css/guide.css" rel="stylesheet" />
    <title>mySUNI Design Mobile V2</title>
</head>

<body>
    <div class="g_wrap">
        <header>
            <h1>Publishing Guide</h1>
        </header>
        <div class="g_cont">

        <section class="g_sec">
            <!-- Form Layout -->
            <h2 class="g_h2">Feildset</h2>
            <div class="g_preview">
                <form class="form">
                    <div class="form_body">
                        <div class="form_row">
                            <label htmlFor="formName">First Name</label>
                            <input id="formName" placeholder="First Name" class="basic" />
                        </div>
                        <div class="form_row">
                            <label htmlFor="formName2">Last Name</label>
                            <input id="formName2" placeholder="Last Name" class="basic" />
                        </div>
                        <div class="form_row">
                            <div class="checkbox basic">
                                <input type="checkbox" name="checkbox0" id="checkbox01" tabindex="0" class="hidden" />
                                <label for="checkbox01"><span>Make my profile visible</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="form_foot">
                        <button type="submit" class="btn primary">Submit</button>
                    </div>
                </form>
            </div>

            <!-- Input -->
            <h2 class="g_h2">Input</h2>
            <h3 class="g_h3">Basic</h3>
            <div class="g_preview">
                <input placeholder="Placeholder" class="basic" />
                <br />
                <input placeholder="Placeholder" class="basic" value="Value" />
                <br />
                <input placeholder="Placeholder" class="basic" disabled />
            </div>

            <h2 class="g_h2">Input Group</h2>
            <h3 class="g_h3">Clear</h3>
            <div class="g_preview">
                <span class="input_group clear">
                    <input type="text" placeholder="placeholder" value="" class="basic" />
                    <button type="button" class="btn ico clear" ><span class="blind">삭제</span></button>
                </span>
                <div class="divider style1 out_sec"></div>
                <span class="input_group clear is_valued">
                    <input type="text" placeholder="placeholder" value="입력된 상태" class="basic" />
                    <button type="button" class="btn ico clear" ><span class="blind">삭제</span></button>
                </span>
            </div>
            <h3 class="g_h3">Search</h3>
            <div class="g_preview">
                <span class="input_group clear srch">
                    <button type="button" class="btn ico srch"><span class="blind">검색</span></button>
                    <input type="search" placeholder="placeholder" value="" />
                    <button type="button" class="btn ico clear" ><span class="blind">삭제</span></button>
                </span>
                <div class="divider style1 out_sec"></div>
                <span class="input_group clear srch is_valued">
                    <button type="button" class="btn ico srch"><span class="blind">검색</span></button>
                    <input type="search" placeholder="placeholder" value="입력된 상태" />
                    <button type="button" class="btn ico clear" ><span class="blind">삭제</span></button>
                </span>
            </div>
            <h3 class="g_h3">Datepicker</h3>
            <div class="g_preview">
                <div class="form_controls date">
                    <span class="input_group date">
                        <input type="text" class="basic" placeholder="YYYY.MM.DD" />
                        <button type="button" class="btn ico date"><span class="blind">시작날짜</span></button>
                    </span>
                    <i class="form_split">-</i>
                    <span class="input_group date">
                        <input type="text" class="basic" placeholder="YYYY.MM.DD" />
                        <button type="button" class="btn ico date"><span class="blind">시작날짜</span></button>
                    </span>
                </div>
            </div>

            <!-- Textarea -->
            <h2 class="g_h2">Textarea</h2>
            <h3 class="g_h3">Basic</h3>
            <div class="g_preview">
                <textarea placeholder="Placeholder" cols="10" rows="2" class="basic"></textarea>
                <br />
                <textarea placeholder="Placeholder" cols="10" rows="2" value="Value" class="basic"></textarea>
                <br />
                <textarea placeholder="Placeholder" cols="10" rows="2" class="basic" disabled></textarea>
            </div>

            <!-- Select -->
            <h2 class="g_h2">Select</h2>
            <div class="g_preview">
                <p class="g_desc">기본으로 버튼만 제공한다.</p>
                <button type="button" class="btn select">Placeholder</button>
                <button type="button" class="btn select is_valued">Valueed</button>
                <button type="button" class="btn select is_disabled" disabled>Placeholder Disabled</button>
                <button type="button" class="btn select is_valued" disabled>Valueed Disabled</button>
                <p class="g_desc">Bottomsheet Page 참고</p>
                <p><a href="/guide/Modals" class="g_link">/guide/Modals</a> 가이드 참조한다.</p>
            </div>

            <!-- Checkbox -->
            <h2 class="g_h2">Checkbox</h2>
            <h3 class="g_h3">Basic</h3>
            <div class="g_preview">
                <div class="checkbox basic">
                    <input type="checkbox" name="checkbox1" id="checkbox11" tabindex="0" class="hidden" />
                    <label for="checkbox11"><span>Make my profile visible</span></label>
                </div>
                <br />
                <div class="checkbox basic">
                    <input type="checkbox" name="checkbox1" id="checkbox12" tabindex="0" class="hidden" />
                    <label for="checkbox12"><span>Make my profile visible</span></label>
                </div>
                <br />
                <div class="checkbox basic">
                    <input type="checkbox" name="checkbox1" id="checkbox13" tabindex="0" class="hidden" />
                    <label for="checkbox13"><span>Make my profile visible</span></label>
                </div>
            </div>

            <!-- Radio -->
            <h2 class="g_h2">Radio</h2>
            <h3 class="g_h3">Basic</h3>
            <div class="g_preview">
                <div class="radio basic">
                    <input type="radio" name="radioBasic1" id="radioBasic11" tabindex="0" class="hidden" />
                    <label for="radioBasic11"><span>Make my profile visible</span></label>
                </div>
                <br />
                <div class="radio basic">
                    <input type="radio" name="radioBasic1" id="radioBasic12" tabindex="0" class="hidden" />
                    <label for="radioBasic12"><span>Make my profile visible</span></label>
                </div>
                <br />
                <div class="radio basic">
                    <input type="radio" name="radioBasic1" id="radioBasic13" tabindex="0" class="hidden" />
                    <label for="radioBasic13"><span>Make my profile visible</span></label>
                </div>
            </div>

            <!-- Toggle -->
            <h2 class="g_h2">Toggle</h2>
            <h3 class="g_h3">Basic</h3>
            <div class="g_preview">
                <div class="toggle basic">
                    <input type="checkbox" name="toggle1" id="toggle1" tabindex="0" class="hidden"/>
                    <label for="toggle1"><span class="blind">Toggle</span></label>
                </div>
            </div>

            <!-- Required -->
            <h2 class="g_h2">필수</h2>
            <div class="g_preview">
                <em class="required">*</em>
            </div>

        </section>
    </div>
</div>
</body>

</html>