@import '../../assets/scss/variables';


// Style
.step.style1 {
	display:flex;
	justify-content: center;
	align-items: center;
	.step_item {
		display:block;
		width:2.8rem;
		height:0.4rem;
		margin:0 0.2rem;
		border-radius: 0.4rem;
		background-color:#F2F3F5;
		// Completed
		&.is_comped {
			background-color: $ColorPrimary;
		}
	}
}
