/* LearningContents layout */
.classroom_page .degree_page {
    padding-top:2rem;
}
.content_body{
    &.task_commt_page{
        background-color: #151617;
    }
}
.board_toolbar + .task_list_wrap {
    margin-top:0.7rem;
}
/* // LearningContents layout */

/* theme_dark */
.theme_dark .board_comments_wrap{
    background-color: #151617;
}

.theme_dark .file_down_area .cube_references{
    background-color:transparent;
}

.theme_dark .cube_references .references_util {
    .ico.file_down{background-image: url('../img/icons_20_ic_download_white.svg');}
    .ico.file_open{background-image: url('../img/icons_20_ic_openinnew_white.svg');}
}
/* // theme_dark */

/* board Detail 공통 */
.board_dt_wrap {
    padding: 2rem 0 0 ;
}
.board_dt_title {
    border-bottom: 0.1rem solid #1c1d1f;
    padding-bottom: 1.2rem;
    margin-bottom: 2rem;
}
.board_dt_title {
    .title_area .title {
        color: #fff;
        @include FontTitle16;
    }
    .board_dt_info {
        margin-top: 1.2rem;
        color: #75777b;
        @include FontBody14;
        display: flex;
        align-items: center;
        overflow: hidden;
        span {
            display: inline-block;
            margin-right: 0.8rem;
            vertical-align: middle;
            flex : none;
        }
        .avata {
            width: 2rem;
            height: 2rem;
            margin-right: 0.6rem;
        }
        .user_id {
            overflow : hidden;
            text-overflow : ellipsis;
            white-space : nowrap;
            flex : 0 1 auto;
        }
        .reg_date {
            margin-right: 1.6rem;
        }
        .cnt_views {
            position: relative;
            margin : 0;
            padding-left: 2.8rem;
            background : url("../img/icons_16_ic_view_grey_07.svg") no-repeat 0.8rem 50%;

            &::before {
                content: '';
                display: inline-block;
                vertical-align: top;
                width: .1rem;
                height: .8rem;
                background-color: #33353c;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
.board_dt_content {
    .board_ph {
        color: #f2f3f5;
        @include FontBody16;
        word-wrap: break-word;
    }
}
.file_down_area {
    margin-top: 2.4rem;
    .area_title {
        color: #fff;
        @include FontBody14;
        .label.download{
            display: inline-block;
            padding : 0 .4rem 0 2rem;
            background: url('../img/icons_16_ic_file_white.svg') no-repeat 0 50%;
        }
        .cnt { color :$ColorPrimary}
    }
    .cube_references{
        margin-top : 1.2rem;
    }
}
.board_like_area {
    margin: 3.2rem -2rem 0;
    padding: 1.6rem 2rem;
    border-top: .1rem solid #151617;
    display: flex;
    justify-content: flex-end;

    .btn.like {
        color : $ColorSubTxt;
        
        &.ico {
            &::before {
                width : 2.4rem;
                height : 2.4rem;
                margin-right : .5rem;
                background-image : url("../img/icons_24_ic_like_white_off_on.svg");
            }
            &.is_active::before{
                background-position: 0 100%;
            }
        }
    }
}
.board_comments_wrap {
    display:flex;
    flex-direction: column;
    flex:1 0 auto;
    margin-left: -$GapSideBase;
    margin-right: -$GapSideBase;
    padding: 0 $GapSideBase 3.2rem;
}
/* // board Detail 공통 */

/* LearningContents - Task */
/* task board */
.task_board{
    padding-bottom : 1.6rem;
    & + .task_board{
        padding-top : 2rem;
        border-top : 0.1rem solid #44464a;
    }
    .task_tit {
        font-size: 1.6rem;
        word-break: break-all;
        @include Ellipsis2;
    }
    .label + .task_tit {padding-top: 0.8rem;}
}
.task_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top: 1.6rem;
    @include FontBody14;
    color :#75777b;
    & > .left{
        display: flex;
        align-items: center;
        flex:0 1 auto;
        overflow: hidden;
        span{
            display: inline-block;
        }
        .avata {
            margin-right : 0.6rem;
            width :2rem;
            height : 2rem;
        }
        .user_id{
            margin-right : 0.8rem;
            @include Ellipsis1;
        }
        .reg_date {
            margin-right:2rem;
            flex:none;
        }
    }
    & > .right {
        display: flex;
        align-items: center;
        flex:none;
        .label{
            margin-left: 1.2rem;
            &:first-child{
                margin-left: 0;
            }
            &::before{
                content:'';
                display:inline-block;
                margin-right : .4rem;
                width : 1.6rem;
                height : 1.6rem;
            }
        }
    }
}
.label{
    &.cnt_views{
        &::before{
            background-image: url("../img/icons_16_ic_view_grey_04.svg");
        }
    }
    &.cnt_cmmt{
        &::before{
            background-image: url("../img/icons_16_ic_comment_grey_04.svg");
        }
    }
    &.cnt_like{
        &::before{
            background-image: url("../img/icons_16_ic_like_grey_04.svg");
        }
    }
}
/* // task board */
/* task Modal */
.modal.task_edit{
    .modal_footer{
        height : 4.5rem;
    }
}
.modal_header .btn.submit {
    display: inline-block;
    position: absolute;
    right: 2rem;
    padding: 0;
    color : $ColorPrimary;
    &:disabled {
        opacity: .2;
    }
}

.modal_content {
    &.flex_area{
        flex-direction: column;
    }
    .edit_tit {
        margin-top : .8rem;
        margin-left: -$GapSideBase;
        margin-right: -$GapSideBase;
        padding: 1rem 2rem;
        .input {
            display: inline-block;
            width : 100%;
            @include FontBody16;
        }
    }
    .edit_contents{
        margin-left: -$GapSideBase;
        margin-right: -$GapSideBase;
        padding : 1.2rem 2rem 2rem 2rem;
        flex-direction: column;
        border-top : .1rem solid $FormBasicBorder;
        .edit_form_wrap {
            flex : 1 0 auto;
        }
        .textarea{
            @include FontBody14;
        }
    }
}
.textarea{
    &.full{
        width : 100%;
        height : 100%;
    }
}
.edit_contents{
    .acco_content.is_active{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        padding : 1.6rem $GapSideBase;
        background-color: #f8f8fa;
    }
    .acc_file_upload {
        position: relative;
        margin-top : 0;
        margin-bottom : $GapSideBase;
        margin-left : -$GapSideBase;
        margin-right : -$GapSideBase;
        .acc_title {
            padding: 2rem $GapSideBase;
            display: block;
            @include FontTitle14;
            border-bottom : .1rem solid #f2f3f5;
            .cnt{
                margin-left : .4rem;
                display: inline-block;
                color :$ColorPrimary;
            }
            &::after{
                content:'';
                display: inline-block;
                width :1.6rem;
                height :1.6rem;
                position: absolute;
                right : $GapSideBase;
                transform : rotate(180deg);
                background: url("../img/icons_16_ic_chervron_up_grey_05.svg") no-repeat;
            }
            &.is_active::after{
                transform:  rotate(0);
            }
        }
        .cube_references {
            flex: 1 0 auto;
            max-width: 100%;
            background-color: #fff;
            &+.cube_references {margin-left: .8rem;}
            .references_util{
                align-items: flex-start;
            }
        }
    }
}
.ico.clear::before{
    width :2rem;
    height : 2rem;
    background-image: url("../img/icons_20_ic_clear_grey_04.svg");
}
.edit_tool_bar {
    padding: 1.2rem 2rem;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: .1rem solid $FormBasicBorder;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .btn {
        width : 2rem;
        height : 2rem;
        &::before{
            width : 2rem;
            height : 2rem;
        }
        &.e_font::before{
            background-image: url("../img/icons_20_ic_text_size_off_on.svg");
        }
        &.e_img::before{
            background-image: url("../img/icons_20_ic_image_off_on.svg");
        }
        &.e_link::before{
            background-image: url("../img/icons_20_ic_clip_off_on.svg");
        }
        &.e_align::before{
            background-image: url("../img/icons_20_ic_text_align_off_on.svg");
        }
        &.e_attch::before{
            background-image: url("../img/icons_20_ic_file_off_on.svg");
        }
        &.is_active::before{
            background-position-y: 100%;
        }
        &+.btn{
            margin-left : 3rem
        }
    }
}
.font_tool_bar{
    padding : 1.2rem $GapSideBase;
    position: fixed;
    bottom : 4.5rem;
    left: 0;
    right : 0;
    display: none;
    justify-content: flex-start;
    align-items: center;
    background-color: #f8f8fa;
    &.is_active{
        display: flex;
    }
    .btn {
        width : 2rem;
        height : 2rem;
        background-position: 0 0;
        &+.btn{
            margin-left : 3rem
        }
        &.e_fontSize{
            padding : 0;
            width : auto;
        }
        &.ico::before{
            width : 2rem;
            height : 2rem;
        }
        &.e_bolder::before{
            background-image: url('../img/icons_20_ic_text_bolder_off_on.svg');
        }
        &.e_italic::before{
            background-image:url('../img/icons_20_ic_text_italic_off_on.svg');
        }
        &.e_underline::before{
            background-image:url('../img/icons_20_ic_text_underline_off_on.svg')
        }
        &.e_mid_line::before{
            background-image:url('../img/icons_20_ic_text_strikethrough_off_on.svg')
        }
        &.e_fontAlign::before{
            background-image:url('../img/icons_20_ic_text_align_off_on.svg')
        }
        &.e_addDot::before{
            background-image:url('../img/icons_20_ic_text_dot_off_on.svg')
        }
        &.e_addNum::before{
            background-image:url('../img/icons_20_ic_text_number_off_on.svg')
        }
        &.is_active::before{
            background-position-y: 100%;
        }
    }
}
/* // task Modal */
/* // LearningContents - Task */

/* LearningContents - webpage , document */
//web
.emb_sec {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:#1c1d1f;
    margin : - $GapSideBase;
    margin-top : 0;
    margin-bottom : 0;
    .embedded.iframe-area{
        width: 100%;
    }
}
// doc
.doc_viewer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:#1c1d1f;
    .doc_area{
        position: relative;
        .doc_pagination {
            position: absolute;
            bottom: .8rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0,0,0, 0.3);
            padding: .5rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3.2rem;
            .pages_num{
                color : #fff;
                @include FontBody12;
            }
        }
    }
    .doc_info_area{
        position: relative;
        .doc_bar_wrap {
            position: relative;
            display: block;
            width: 100%;
            height: .4rem;
            background-color: #a4a6aa;
            .doc_bar {
                display: inline-block;
                overflow: hidden;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                background-color: $ColorPrimary;
            }
        }
    }
}

.doc_pagination{
    .doc_act{
        width: 2.4rem;
        height: 2.4rem;
        background: url("../img/icons_12_ic_chervron_right_white.svg") no-repeat center center / 1.2rem auto;
        &.prev{
            transform: scaleX(-1);
        }
    }
}

//web, doc 공통
.doc_link_wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.2rem 2rem;
    width: 100%;
    .label_tit{
        color :#cbcdcf;
        @include FontBody12;
        position: relative;
        display: inline-flex;
        align-items: center;
        flex : none;
        &.link::before{
            content:'';
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            background-image: url("../img/icons_12_ic_file_grey_05.svg");
        }
    }
    .doc_cnt{
        display: inline-flex;
        align-items: center;
        margin-left : .4rem;
        span{
            color :#cbcdcf;
            @include FontBody12;
        }
    }
    .doc_name{
        overflow: hidden;
        flex : 0 1 auto;
        margin-left: .8rem;
        width: 100%;
    }
    .link_wrap{
        overflow: hidden;
        flex : 0 1 auto;
        margin-left: .8rem;
        width: 100%;
    }
    .ach.ico{
        padding-right: 1.2rem;
        position: relative;
        color: $ColorSubTxt;
        @include FontBody12;
        @include Ellipsis1;
        background : url("../img/icons_12_ic_chervron_right_grey_06.svg") no-repeat 100% 50%;
    }
}
//Document 가로모드
.sub_wrapper.has_full{
    .header{
        .is_transition{
            background-color: rgba(0,0,0, 0.5);
        }
    }
    .page_floating .page_action{
        z-index: 40;
    }
    .btn.top{display: none;}
    .sticky.out_sec{
        z-index: 40;
    }
    .doc_viewer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 300;
        width: 100vw;
        height: 100vh;
        display: block;
    }
    &.has_bottom_modal{
        .doc_viewer, .appbar{
            width : 60vw;
        }
    }
}
.full_height{
    left: auto;
    right : 0;
    width : 40vw;
        .modal_bottomsheet{
            margin: 0;
            max-height: none;
        }
}