///////////////////////////////////////////////////
// Components
///////////////////////////////////////////////////
// 학습과정제목
.learning_subject {
    .title_area {
        .title {
            margin-top:1rem;
            @include FontTitle18;
            color:#000;
        }
    }
    .info_area {
        display:flex;
        margin-top:0.8rem;
        color:$ColorSubTxt;
        .label {
            &::before {
                content:'';
                margin-right:0.4rem;
                background-color: $ColorSubTxt;
            }
            &.video {
                &::before {
                    width:1.2rem;
                    height:1.2rem;
                }
            }
            &.time {
                &::before {
                    width:2rem;
                    height:2rem;
                }
            }
            & + .label {
                margin-left:1.6rem;
            }
        }
    }
}
.theme_dark {
    .learning_subject {
        .title_area {
            .title {
                color:#fff;
            }
        }
    }
}

// 태그정보
.tag_list {
    overflow: hidden;
    .chip_group {
        display:flex;
        flex-wrap:wrap;
        margin:-0.5rem;
        .chip {
            margin:0.5rem;
        }
    }
}

/////////////////////////////////
// TEST
/////////////////////////////////
// 응시하기
.test_information {
    margin-top:6.4rem;
    flex:none;
    .info {
        margin-bottom:2.4rem;
        @include FontTitle14;
        color:$ColorSubTxt;
        text-align: center;
    }
    .subject_area {
        text-align: center;
        border-top:1px solid #e3e4e5;
        border-bottom:1px solid #e3e4e5;
        .sub_txt {
            margin-bottom:0.7rem;
            @include FontBody13;
            color: #a4a6aa;
        }
        .title {
            @include FontTitle18;
        }
        // 응시전
        &.is_before {
            padding:4.8rem 0;
        }
        // 응시후
        &.is_after {
            padding:2rem 0;
        }
        // 응시결과
        .complete_area {
            margin:2rem auto;
            text-align: center;
            .ico.atare {
                width:5.2rem;
                height:6.0rem;
                background-color: #ddd;
            }
            .score {
                margin-top:2.5rem;
                @include FontTitle18;
            }
        }
        .desc_area {
            @include FontBody14;
            color:$ColorSubTxt;
            strong {
                @include FontTitle14;
                color:#000;
            }
        }
    }
}

// 이수정보
.course_define {
    margin-top:auto;
    padding-bottom:0.8rem;
    .label_area {
        margin-bottom:0.8rem;
    }
    .define_area {
        p + p {
            margin-top:0.3rem;
        }
        .tit {
            margin-right:0.8rem;
            @include FontBody14;
        }
        .txt {
            @include FontBody14;
            color:$ColorSubTxt;
            .emphasis {
                color: $ColorPrimary;
            }
        }
    }
    .desc_area {
        margin-top:2rem;
        .desc {
            position: relative;
            padding-left:1rem;
            color:#a4a6aa;
            &::before {
                content:'*';
                position:absolute;
                left:0;
                top:0.4rem;
            }
        }
    }
}

// 평가그래프
.review_graph {
    padding:2rem;
    border-radius: $RadiusLarge;
    background-color: #f8f8fa;
    .graph_title {
        @include FontBody16;
        font-weight: 700;
        em {
            color:$ColorSecondary;
        }
    }
    .graph_list {
        margin-top:2.4rem;
        .graph_item {
            display:flex;
            margin-top:0.8rem;
            &:first-child {
                margin-top:0;
            }
            .graph_label {
                display:block;
                flex:none;
                width:30%;
                min-width:11.1rem;
                color:#1c1d1f;
                padding-right:1.2rem;
            }
            .graph_bar {
                position: relative;
                display:block;
                flex:1 1 auto;
                width:100%;
                height:2.8rem;
                background-color: #fff;
                &:before {
                    content:'';
                    display:block;
                    position: absolute;
                    left:0;
                    top:0;
                    z-index: 1;
                    width:100%;
                    height:100%;
                    border:1px solid #f2f3f5;
                }
                .graph_active {
                    position: relative;
                    z-index: 2;
                    width:50%;
                    height:100%;
                    background-color: #00bfae;
                }
                .graph_value {
                    display:flex;
                    align-items: center;
                    position:absolute;
                    top:0;
                    right:0;
                    height:100%;
                    padding-right:0.8rem;
                }
            }
        }
    }
}

// 리뷰리스트
.review_list {
    .item {
        padding:1.6rem $GapSideBase;
        border-bottom:1px solid #f2f3f5;
        .item_whiter {
            display:flex;
            justify-content: space-between;
            align-items: center;
            .whiter {
                display:flex;
                justify-content: space-between;
                align-items: center;
                .avata {
                    width:2rem;
                    height:2rem;
                }
                .name {
                    margin-left:0.6rem;
                    color:$ColorSubTxt;
                }
            }
        }
        .item_coment {
            margin-top:0.9rem;
        }
    }
}

.atare_form {
    .atare_tit {
        margin-bottom:3.2rem;
        @include FontTitle18;
    }
    .radio.block + .radio.block {
        margin-top:0.8rem;
    }
}

///////////////////////////////////////////////////
// Pages
///////////////////////////////////////////////////
// AtareForm Page
.atareForm_page {
    .content_body {
        padding-top:2.4rem;
    }
    .atare_form {
        margin-top:1.2rem;
    }
}

// Review Page
.review_page {
    padding-top:2rem;
    padding-bottom:4rem;
    .board_toolbar {
        margin-top:1.6rem;
    }
}