.popup_comment {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    z-index: 1001;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    flex:0 1 auto;
    .popup_head {
        position: relative;
        z-index: 100;
        display:flex;
        align-items:center;
        flex:none;
        width:100%;
        height:6.8rem;
        padding:0 $GapSideBase;
        background-color: #fff;
        .popup_tit {
            font-size:1.8rem;
            line-height:2.4rem;
            font-weight:700;
            color:#000;
        }
        .btn.ico.close {
            width:3.2rem;
            height:3.2rem;
            padding:0;
            margin-left:-0.4rem;
            margin-right:0.4rem;
            &::before {
                width:2.4rem;
                height:2.4rem;
                background-image:url('../img/icons_24_ic_close_black.svg');
            }
        }
    }
    .popup_body {
        display:flex;
        flex:1 1 auto;
        width:100%;
        flex-direction: column;
        overflow-y: auto;
    }
}

.theme_dark .popup_comment {
    background-color: #151617;
    .popup_head {
        background-color: #151617;
        .popup_tit {
            color:#fff;
        }
        .btn.ico.close::before {
            background-image:url('../img/icons_24_ic_close_white.svg');
        }
    }
    .popup_body {
        .post_detail {
            background-color: #000;
        }
    }
}
///////////////////////////////////////////////////
// Components
///////////////////////////////////////////////////

