//Overview
.overview_page {
    padding-bottom:5.23rem;
}

//선수과정 필수 & 선택
.modal_elctivelearning, .modal_advancelearning {
    .course_data {
        width:100%;
        margin-bottom:3rem;
        color:#75777b;
        text-align: center;
        .ico {
            width:4rem;
            height:4rem;
            margin:0 auto 0.8rem;
            &.advance {
                background-image: url('../img/icons_40_ic_warning_primary.svg');
            }
            &.elective {
                background-image: url('../img/icons_40_ic_warning_grey_03.svg');
            }
        }
    }
    .course_tit {
        @include FontTitle16;
        height:inherit;
        font-weight: 700;
    }
}
.modal_elctivelearning {
    .modal_content {
        padding-bottom:0.8rem;
    }
}
.modal_advancelearning {
    .modal_content {
        padding-bottom:3.2rem;
    }
}
.course_learning {
    border-bottom:1px solid #f2f3f5;
	.course_inner {
		display:flex;
		align-items: center;
		width:100%;
		height:inherit;
		padding:1.5rem 0 1.5rem 0;
		.course_body {
            display:flex;
            align-items: center;
            width:100%;
			flex:0 1 auto;
			color:#fff;
			overflow: hidden;
            .label.style1 {
                margin-right:1.2rem;
            }
            .elective {
                color:#75777B;
            }
			.title {
				@include FontBody13;
                @include Ellipsis1;
				color:#000;
			}
            .state {
                flex:none;
                margin-left:1.2rem;
                &.primary {
                    @include FontBody14;
                    color:$ColorPrimary;
                }
            }
		}
		&::after {
			content:"";
			display:block;
			width:1.6rem;
			height:1.6rem;
			margin-left:1.2rem;
			background-image:url('../img/icons_16_ic_chervron_right_grey_05.svg');
		}
	}
}

//학습활동 overview
.activity_overview {
    margin-top: 1.2rem;
    padding:1.6rem 2rem;
    background-color:#f8f8fa;
    border-radius: $RadiusLarge;
    .sub_txt {
        color:#a4a6aa;
    }
    .title {
        font-weight: 700;
    }
}

//학습활동 가이드
.activity_note {
    width: 100%;
    .title {
        padding:1.6rem 0;
        border-bottom:1px solid #f2f3f5;
        margin-bottom:1.6rem;
        .note_link{
            &::after {
                content:"";
                position:relative;
                top:1px;
                display:inline-block;
                width:1.2rem;
                height:1.2rem;
                margin-left:0.2rem;
                background-image: url('../img/icons_12_ic_chervron_right_black.svg');
            }
        }
        .note_no {
            display: block;
            margin-top:0.8rem;
            @include FontBody12;
            color:#1c1d1f;
        }
    }
    .note_contents {
        .note_link {
            margin-bottom:1.2rem;
            color:#ff664d;
            @include FontBody13;
        }
        .link_ico {
            @include FontBody14;
            &::after {
                content:"";
                position:relative;
                top:0.2rem;
                display:inline-block;
                width:1.6rem;
                height:1.6rem;
                margin-left:0.2rem;
                background-image: url('../img/icons_16_ic_openinnew_primary.svg');
            }
        }
    }
    .note_contents +  .note_contents {
        margin-top:1.2rem;
    }
    .more_area {
        padding:1.4rem 0;
        text-align: center;
    }
}

//큐브공통 오버뷰 페이지
.contentsoverview_page {
    background-color:#000;
    .learning_sec {
        .sec_body {
            .board_list {
                .overview_item {
                    border:1px solid #44464a;
                    border-radius: 8px;
                    padding:1.6rem;
                    .item_thumb {
                        position: relative;
                        width:8rem;
                        height:5.4rem;
                        .thumb {
                            .thumbico {
                                position: absolute;
                                top:0;
                                right:0.5rem;
                                width:2.4rem;
                                height:2.4rem;
                                background-image: url('../../assets/img/icons_24_ic_bookmark_off_on.svg');
                                background-position-y: top;
                            }
                            .is_active {
                                background-position-y: bottom;
                            }
                        }
                    }
                    .item_title {

                        .sub_txt {
                            color:#a4a6aa;
                            @include FontBody12;
                        }
                        .title {
                            @include FontBody12;
                            color:#f2f3f5;
                        }
                    }
                }
            }
        }
    }
}

//플레이어 배속설정, 자막설정
.modal_videoplayersetspeed, .modal_videoplayersetsubtitle {
    padding-bottom:4rem;
    .radio.set_option + .radio.set_option {
        margin-top:0.8rem;
    }
    .radio.set_option {
        @include FontBody16;
        min-height:4.8rem;
        width:100%;
        display: flex;;
        input, label {
        align-items: center;
        }
        label:after {
            position:static;
            width:1.6rem;
            height:1.6rem;
            margin-left:0.8rem;
        }
        input:checked ~ label {
            border-color: $ColorPrimary;
            color:$ColorPrimary;
            font-weight: 700;
        }
        input:checked ~ label:after {
            background: url('../img/icons_16_ic_check_primary.svg');
        }
    }
}

//학습노트
.learning_note {
    .cube_note {
        border-radius:$RadiusLarge;
        background-color: #000;
        padding:2rem;
        margin-top:1.2rem;
        .note_head {
            display: flex;
            align-items: center;
            > .left {
                display: flex;
                align-items: center;
                .note_time, .note_title {
                    position: relative;
                    display: flex;
                    align-items: center;
                    &::before {
                        content:"";
                        position: static;
                        margin-right:0.4rem;
                        width:1.6rem;
                        height:1.6rem;
                    }
                }
                .note_time {
                    &::before {
                        background-image: url('../img/icons_16_ic_time_grey_05.svg');
                    }
                }
                .note_title {
                    &::before {
                        background-image: url('../img/icons_16_ic_note_grey_05.svg');
                    }
                }
                .openinnew {
                    position: relative;
                    &::before {
                        content:"";
                        position: relative;
                        margin-left:0.4rem;
                        width:1.6rem;
                        height:1.6rem;
                        background-image: url('../img/icons_16_ic_openinnew_primary.svg');
                    }
                }
            }
            > .right{
                margin-left: auto;
                .btn.more {
                    &::before {
                        content:"";
                        position: static;
                        width:2rem;
                        height:2rem;
                        background-image: url('../img/icons_20_ic_more_grey_06.svg');
                    }
                }
            }
        }
        .note_body {
            .note_txt {
                .txt {
                    @include Ellipsis2;
                    margin:0.8rem 0;
                }
            }
            .note_date {
                .date {
                    @include FontBody12;
                    color:#75777b;
                }
            }
        }
    }
}
.note_floating {
    height:6rem;
    // 노트 입력
    .note_body {
        position:fixed;
        left:0;
        bottom:0;
        z-index: 100;
        width:100%;
        height:inherit;
        padding:0 2rem;
        border-top:1px solid #33353c;
        background-color: #000000;
        display: flex;
        align-items: center;
        .note_time {
            position: relative;
            display: flex;
            align-items: center;
            &::before {
                content:"";
                position: static;
                margin-right:0.4rem;
                width:1.6rem;
                height:1.6rem;
                background-image: url('../img/icons_16_ic_time_grey_05.svg');
            }
        }
        .note_form {
            margin:0 1rem 0 2rem;
            .dark_form {
                background-color: #000;
                border:0;
                height:3.2rem;
                padding:inherit;
                color:#fff;
            }
        }
    }
}
//학습노트 작성
.popup_note {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    z-index: 1001;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    flex:0 1 auto;
    background-color:#151617;
    .popup_head {
        position: relative;
        z-index: 100;
        display:flex;
        align-items:center;
        padding:0 $GapSideBase;
        > .left {
            display:flex;
            align-items:center;
            width:100%;
            height:6.8rem;
            .popup_tit {
                font-size:1.8rem;
                line-height:2.4rem;
                font-weight:700;
            }
            .btn.ico.close {
                width:3.2rem;
                height:3.2rem;
                padding:0;
                margin-left:-0.4rem;
                margin-right:0.4rem;
                &::before {
                    width:2.4rem;
                    height:2.4rem;
                    background-image:url('../img/icons_24_ic_close_white.svg');
                }
            }
        }
        > .right {
            flex: none;
            margin-left:auto;
        }
    }
    .popup_body {
        display:flex;
        flex:1 1 auto;
        width:100%;
        flex-direction: column;
        overflow-y: auto;
        padding:0 $GapSideBase;
        .note_write {
            .write_info {
                display: flex;
                align-items: center;
                .write_time {
                    display: flex;
                    align-items: center;
                    &::before {
                        content:"";
                        position: relative;
                        margin-right:0.4rem;
                        width:1.6rem;
                        height:1.6rem;
                        background-image: url('../img/icons_16_ic_time_grey_05.svg');

                    }
                }
                .reload {
                    display: flex;
                    align-items: center;
                    &::before {
                        content:"";
                        position: relative;
                        margin-left:0.6rem;
                        width:1.6rem;
                        height:1.6rem;
                        background-image: url('../img/icons_16_ic_refreshment.svg');

                    }
                }
            }
            .write_form {
                margin:0.6rem 0;
                .dark_form {
                    background-color: #000;
                    border:0;
                    height:12.8rem;
                    padding:0.9rem 1.6rem;
                    border:1px solid #25272b;
                    color:#fff;
                }
            }
            .char_count {
                text-align: right;
                @include FontBody12;
                color: #75777b;
            }
        }
    }
}
//과정목록 단일
.modal_videolist {
    .course_item {
        > .item_body {
            display: flex;
            align-items: center;
            padding-bottom:2rem;
            &::after {
                content: "";
                display: flex;
                width: 1.6rem;
                height: 1.6rem;
                margin-left: 2rem;
                background-image: url(../img/icons_16_ic_chervron_right_grey_05.svg);
            }
            > .item_title {
                width: 100%;
                > .title {
                    color:#a4a6aa;
                }
                > .sub_txt {
                    color:#44464a;
                    font-weight:bold;
                    @include Ellipsis2
                }
            }
        }
    }
}
//비디오 스크립트
.videoscript_page {
    .video_download {
        display: flex;
        align-items: center;
        padding:1rem 0;
        .left {
            display: flex;
            align-items: center;
            &::after {
                content:"";
                position: relative;
                margin-left:0.6rem;
                width:2rem;
                height:2rem;
                background-image: url('../img/icons_20_ic_information_grey_07.svg');
                }       
            .btn_down {
                @include FontBody13;
                color:#cbcdcf;
                border:1px solid #44464a;
                border-radius: 4px;
                padding:0.4rem 1.2rem;
            }
        }
        .right {
            margin-left: auto;
        }
    }
    .videoscript_txt {
        margin-top:0.6rem;
        > .txt + .txt {
            margin-top:3rem;
        }
        > .txt {
            font-weight:700;
        }
        > .txt.style {
            color:#75777b;
            font-weight:400;
        }
    }
}
//플레이어 퀴즈, 다음학습 화면
.cube_player_sec {
    position: relative;
    > .player_zindex {
        height:0;
        position:relative;
        z-index:29;
        .player_box {
            height:20.2rem;
            padding:5.2rem 2rem 2rem 2rem;
            background-color: rgba(0, 0, 0, 0.8);
            position: relative;
            > .title {
                @include Ellipsis2;
                @include FontTitle16;
                margin-bottom:0.6rem;
            }
            .btn_player {
                position: absolute;
                bottom:2rem;
                right:2rem;
                @include FontBody13;
                padding:0.5rem 2rem;
            }
        }
    }
}