//학습 공통 타이틀
.learning_container {
    .learning_subject {
    }
}

//Overview
.overview_page {
    padding-bottom:5.23rem;
}

//선수과정 필수 & 선택
.modal_elctivelearning, .modal_advancelearning {
    .course_data {
        width:100%;
        margin-bottom:3rem;
        color:#75777b;
        text-align: center;
        .ico {
            width:4rem;
            height:4rem;
            margin:0 auto 0.8rem;
            &.advance {
                background-image: url('../img/icons_40_ic_warning_primary.svg');
            }
            &.elective {
                background-image: url('../img/icons_40_ic_warning_grey_03.svg');
            }
        }
    }
    .course_tit {
        @include FontTitle16;
        height:inherit;
        font-weight: 700;
    }
}
.modal_elctivelearning {
    .modal_content {
        padding-bottom:0.8rem;
    }
}
.modal_advancelearning {
    .modal_content {
        padding-bottom:3.2rem;
    }
}
.course_learning {
    border-bottom:1px solid #f2f3f5;
	.course_inner {
		display:flex;
		align-items: center;
		width:100%;
		height:inherit;
		padding:1.5rem 0 1.5rem 0;
		.course_body {
            display:flex;
            align-items: center;
            width:100%;
			flex:0 1 auto;
			color:#fff;
			overflow: hidden;
            .label.style1 {
                margin-right:1.2rem;
            }
            .elective {
                color:#75777B;
            }
			.title {
				@include FontBody13;
                @include Ellipsis1;
				color:#000;
			}
            .state {
                flex:none;
                margin-left:1.2rem;
                &.primary {
                    @include FontBody14;
                    color:$ColorPrimary;
                }
            }
		}
		&::after {
			content:"";
			display:block;
			width:1.6rem;
			height:1.6rem;
			margin-left:1.2rem;
			background-image:url('../img/icons_16_ic_chervron_right_grey_05.svg');
		}
	}
}

//학습활동 overview
.activity_overview {
    margin-top: 1.2rem;
    padding:1.6rem 2rem;
    background-color:#f8f8fa;
    border-radius: $RadiusLarge;
    .sub_txt {
        color:#a4a6aa;
    }
    .title {
        font-weight: 700;
    }
}

//학습활동 가이드
.activity_note {
    width: 100%;
    .title {
        padding:1.6rem 0;
        border-bottom:1px solid #f2f3f5;
        margin-bottom:1.6rem;
        .note_link{
            &::after {
                content:"";
                position:relative;
                top:1px;
                display:inline-block;
                width:1.2rem;
                height:1.2rem;
                margin-left:0.2rem;
                background-image: url('../img/icons_12_ic_chervron_right_black.svg');
            }
        }
        .note_no {
            display: block;
            margin-top:0.8rem;
            @include FontBody12;
            color:#1c1d1f;
        }
    }
    .note_contents {
        .note_link {
            margin-bottom:1.2rem;
            color:#ff664d;
            @include FontBody13;
        }
        .link_ico {
            @include FontBody14;
            &::after {
                content:"";
                position:relative;
                top:0.2rem;
                display:inline-block;
                width:1.6rem;
                height:1.6rem;
                margin-left:0.2rem;
                background-image: url('../img/icons_16_ic_openinnew_primary.svg');
            }
        }
    }
    .note_contents +  .note_contents {
        margin-top:1.2rem;
    }
    .more_area {
        padding:1.4rem 0;
        text-align: center;
    }
}

//큐브공통 오버뷰 페이지
.contentsoverview_page {
    background-color:#000;
    .learning_sec {
        .sec_body {
            .board_list {
                .overview_item {
                    border:1px solid #44464a;
                    border-radius: 8px;
                    padding:1.6rem;
                    .item_thumb {
                        position: relative;
                        width:8rem;
                        height:5.4rem;
                        .thumb {
                            .thumbico {
                                position: absolute;
                                top:0;
                                right:0.5rem;
                                width:2.4rem;
                                height:2.4rem;
                                background-image: url('../../assets/img/icons_24_ic_bookmark_off_on.svg');
                                background-position-y: top;
                            }
                            .is_active {
                                background-position-y: bottom;
                            }
                        }
                    }
                    .item_title {

                        .sub_txt {
                            color:#a4a6aa;
                            @include FontBody12;
                        }
                        .title {
                            @include FontBody12;
                            color:#f2f3f5;
                        }
                    }
                }
            }
        }
    }
}

//플레이어 배속설정, 자막설정
.modal_videoplayersetspeed, .modal_videoplayersetsubtitle {
    padding-bottom:4rem;
    .radio.set_option + .radio.set_option {
        margin-top:0.8rem;
    }
    .radio.set_option {
        @include FontBody16;
        min-height:4.8rem;
        width:100%;
        display: flex;;
        input, label {
        align-items: center;
        }
        label:after {
            position:static;
            width:1.6rem;
            height:1.6rem;
            margin-left:0.8rem;
        }
        input:checked ~ label {
            border-color: $ColorPrimary;
            color:$ColorPrimary;
            font-weight: 700;
        }
        input:checked ~ label:after {
            background: url('../img/icons_16_ic_check_primary.svg');
        }
    }
}
