<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="/Mobile/favicon.ico" />
    <!-- Guide Common -->
    <link href="/Mobile/assets/css/index.css" rel="stylesheet" />
    <script src="/Mobile/assets/js/jquery.min.js"></script>
    <script src="/Mobile/assets/js/ui.common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/gsap.min.js"></script>
    <!-- Guide IA -->
    <link href="/Mobile/_guide/assets/css/guide.css" rel="stylesheet" />
    <title>mySUNI Design Mobile V2</title>
    <script>
        // Transition은 Callback에 의해서 display:none 적용 되어야 하는 구현 편의상 스크립트로 효과 처리합니다.

        // Alert
        function ModalAlertOpen(id){
            // addClass 이후 Transition
            $(id).addClass("is_visible");
            $("body").addClass("is_dimed");

            var ModalAlert = $(id).find(".modal_alert");
            var ModalDimmer = $(id).find(".dimmer");
            AlertAni = gsap.fromTo(ModalAlert, {opacity: 0, scale:0.75}, {opacity: 1, scale:1, duration: 0.2});
            ModalAni = gsap.fromTo(ModalDimmer, {opacity: 0}, {opacity: 1, duration: 0.2});
        }
        function ModalAlertClose(id){
            var ModalAlert = $(id).find(".modal_alert");
            var ModalDimmer = $(id).find(".dimmer");
            AlertAni = gsap.fromTo(ModalAlert, {opacity: 1, scale:1}, {opacity: 0, scale:0.75, duration: 0.2});
            ModalAni = gsap.fromTo(ModalDimmer, {opacity: 1, duration: 0.2}, {opacity: 0, duration: 0.2, onComplete:()=> {
                // Transition 이후 removeClass처리
                $(id).removeClass("is_visible");
                $("body").removeClass("is_dimed");
            }});
        }
    </script>
</head>

<body>
    <div class="g_wrap">
        <header>
            <h1>Publishing Guide</h1>
        </header>
        <div class="g_cont">
            <section class="g_sec">
                <h2 class="g_h2">Modal Alert/Confirm</h2>
                <div class="g_preview">
                    <button type="button" class="btn basic primary" onclick="ModalAlertOpen('#ModalAlert')">Open Alert</button>
                    <button type="button" class="btn basic primary" onclick="ModalAlertOpen('#ModalConfirm')">Open Confirm</button>
                </div>
                <h2 class="g_h2">Modal Bottomsheet</h2>
                <div class="g_preview">
                    <button type="button" class="btn basic primary" onclick="ModalAlertOpen('#ModalButtomSheet')">Open ButtomSheet</button>
                </div>
                <h2 class="g_h2">Modal Fullpopup</h2>
                <div class="g_preview">
                    <button type="button" class="btn basic primary" onclick="ModalAlertOpen('#ModalFullpopup')">Open Fullpopup</button>
                </div>
            </section>
        </div>
    </div>

    <!-- Modal Alert -->
    <div class="modal_wrap" id="ModalAlert">
        <div class="modal modal_alert">
            <div class="modal_header">
                <h3 class="modal_title">삭제</h3>
            </div>
            <div class="modal_content">
                <p class="msg">삭제하시겠습니까?<br />두줄로 들어갑니다.</p>
            </div>
            <div class="modal_footer">
                <button type="button" class="btn text primary" onclick="ModalAlertClose('#ModalAlert')">확인</button>
            </div>
        </div>
        <div class="dimmer" aria-hidden="true"></div>
    </div>
    <!-- // Modal Alert -->

    <!-- Modal Confirm -->
    <div class="modal_wrap" id="ModalConfirm">
        <div class="modal modal_alert">
            <div class="modal_header">
                <h3 class="modal_title">삭제확인</h3>
            </div>
            <div class="modal_content">
                <p class="msg">삭제하시겠습니까?<br />두줄로 들어갑니다.</p>
            </div>
            <div class="modal_footer">
                <button type="button" class="btn text" onclick="ModalAlertClose('#ModalConfirm')">취소</button>
                <button type="button" class="btn text primary" onclick="ModalAlertClose('#ModalConfirm')">확인</button>
            </div>
        </div>
        <div class="dimmer" aria-hidden="true"></div>
    </div>
    <!-- // Modal Confirm -->

    <!-- Modal Bottomsheet -->
    <div class="modal_wrap" id="ModalButtomSheet">
        <div class="modal modal_bottomsheet">
            <div class="modal_header">
                <h3 class="modal_tit">ModalButtomSheet</h3>
            </div>
            <div class="modal_content">
                modal_body
            </div>
            <div class="modal_footer">
                modal_foot
            </div>
            <div class="modal_close">
                <button type="button" class="btn ico close" onclick="ModalAlertClose('#ModalButtomSheet')"><span class="blind">닫기</span></button>
            </div>
        </div>
        <div class="dimmer" aria-hidden="true"></div>
    </div>
    <!-- // Modal Confirm -->
</body>

</html>
