<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="/Mobile/favicon.ico" />
    <!-- Guide Common -->
    <link href="/Mobile/assets/css/index.css" rel="stylesheet" />
    <script src="/Mobile/assets/js/jquery.min.js"></script>
    <script src="/Mobile/assets/js/ui.common.js"></script>
    <!-- Guide IA -->
    <link href="/Mobile/_guide/assets/css/guide.css" rel="stylesheet" />
    <title>mySUNI Design Mobile V2</title>
</head>

<body>
    <div class="g_wrap">
        <header>
            <h1>Publishing Guide</h1>
        </header>
        <div class="g_cont">

        <section class="g_sec">
            <h2 class="g_h2">Progress</h2>
            <div class="g_preview">
                <Progress class="style1" percent={11} />
            </div>
        </section>
    </div>
</div>
</body>

</html>