<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="/Mobile/favicon.ico" />
    <!-- Guide Common -->
    <link href="/Mobile/assets/css/index.css" rel="stylesheet" />
    <script src="/Mobile/assets/js/jquery.min.js"></script>
    <script src="/Mobile/assets/js/ui.common.js"></script>
    <!-- Guide IA -->
    <link href="/Mobile/_guide/assets/css/guide.css" rel="stylesheet" />
    <title>mySUNI Design Mobile V2</title>
</head>

<body>
    <div class="g_wrap">
        <header>
            <h1>Publishing Guide</h1>
        </header>
        <div class="g_cont">
            <section class="g_sec">
				<h2 class="g_h2">Rating</h2>
                <h3 class="g_h3">평가점수</h3>
				<div class="g_preview">
					<span class="label rate_count">4.8</span>
				</div>
                <h3 class="g_h3">관심등록</h3>
				<div class="g_preview">
                    <div class="checkbox rating">
                        <input type="checkbox" name="rating" id="rating1" tabindex="0" class="hidden" />
                        <label for="rating1"><span class="blind">관심등록</span></label>
                    </div>
                    <div class="checkbox rating">
                        <input type="checkbox" name="rating" id="rating1" tabindex="0" class="hidden" checked />
                        <label for="rating1"><span class="blind">관심등록</span></label>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>