<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="/Mobile/favicon.ico" />
    <!-- Guide Common -->
    <link href="/Mobile/assets/css/index.css" rel="stylesheet" />
    <script src="/Mobile/assets/js/jquery.min.js"></script>
    <script src="/Mobile/assets/js/ui.common.js"></script>
    <!-- Guide IA -->
    <link href="/Mobile/_guide/assets/css/guide.css" rel="stylesheet" />
    <title>mySUNI Design Mobile V2</title>
</head>

<body>
    <div class="g_wrap">
        <header>
            <h1>Publishing Guide</h1>
        </header>
        <div class="g_cont">

        <section class="g_sec">
            <h2 class="g_h2">Steps</h2>
            <div class="g_preview">
                <div class="step style1">
                    <span class="step_item is_comped"><span class="blind">Step 1</span></span>
                    <span class="step_item"><span class="blind">Step 2</span></span>
                    <span class="step_item"><span class="blind">Step 3</span></span>
                </div>
                <br/>
                <div class="step style1">
                    <span class="step_item is_comped"><span class="blind">Step 1</span></span>
                    <span class="step_item is_comped"><span class="blind">Step 2</span></span>
                    <span class="step_item"><span class="blind">Step 3</span></span>
                </d>
                <br/>
                <div class="step style1">
                    <span class="step_item is_comped"><span class="blind">Step 1</span></span>
                    <span class="step_item is_comped"><span class="blind">Step 2</span></span>
                    <span class="step_item is_comped"><span class="blind">Step 3</span></span>
                </div>
            </div>

            <h2 class="g_h2">Tabs</h2>
            <h3 class="g_h3">Style1 (Page Link)</h3>
            <div class="g_preview">
                <div class="tab style1">
                    <div class="tab_list">
                        <a href="javascript:(0)" class="tab_item">Category</a>
                        <a href="javascript:(0)" class="tab_item">Certification</a>
                    </div>
                </div>
            </div>

            <h3 class="g_h3">Style2</h3>
            <div class="g_preview">
                <div class="tab style2">
                    <div class="tab_list">
                        <button type="button" class="tab_item is_active">Tab 1</button>
                        <button type="button" class="tab_item">Tab 2</button>
                        <button type="button" class="tab_item">Tab 3</button>
                    </div>
                </div>
                <div class="tab style2 is_scrolled">
                    <div class="tab_list">
                        <button type="button" class="tab_item is_active">Tab 1</button>
                        <button type="button" class="tab_item">Tab 2</button>
                        <button type="button" class="tab_item">Tab 3</button>
                        <button type="button" class="tab_item">Tab 4</button>
                        <button type="button" class="tab_item">Tab 5</button>
                        <button type="button" class="tab_item">Tab 6</button>
                        <button type="button" class="tab_item">Tab 7</button>
                        <button type="button" class="tab_item">Tab 8</button>
                    </div>
                    <div class="tab_next">
                        <button type="button" class="btn ico next"><span class="blind">다음</span></button>
                    </div>
                </div>
                <div class="tab style2 wide">
                    <div class="tab_list">
                        <button type="button" class="tab_item">Tab 1</button>
                        <button type="button" class="tab_item">Tab 2</button>
                        <button type="button" class="tab_item is_active">Tab 3</button>
                    </div>
                </div>
            </div>
            <h3 class="g_h3">Style3</h3>
            <div class="g_preview">
                <div class="tab style3 is_scrolled">
                    <div class="tab_list">
                        <button type="button" class="tab_item">Tab 1</button>
                        <button type="button" class="tab_item is_active">Tab 2</button>
                        <button type="button" class="tab_item">Tab 3</button>
                        <button type="button" class="tab_item">Tab 4</button>
                        <button type="button" class="tab_item">Tab 5</button>
                        <button type="button" class="tab_item">Tab 6</button>
                        <button type="button" class="tab_item">Tab 7</button>
                        <button type="button" class="tab_item">Tab 8</button>
                    </div>
                    <div class="tab_next">
                        <button type="button" class="btn ico next"><span class="blind">다음</span></button>
                    </div>
                </div>
                <Nav class="style3">
                    <button type="button" class="tab_item is_active">Tab 1</button>
                    <button type="button" class="tab_item">Tab 2</button>
                    <button type="button" class="tab_item">Tab 3</button>
                </Nav>
            </div>
        </section>
    </div>
</div>
</body>

</html>