// Default
.header {
    position: relative;
    width:100%;
    z-index: 100;
    height: calc(5.2rem + var(--safeTop));
}
.appbar {
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.2s ease;
}
.sticky {
    z-index:90;
    background-color: #Fff;
}
.theme_dark {
    .appbar,
    .sticky {
        background-color: #000;
    }
}
.gap_none {
    .header {
        position: absolute;
    }
    .appbar {
        position: absolute;
        background-color: transparent;
    }
    .header.theme_dark {
        background-color: transparent;
        .appbar {
            background-color: transparent;
        }
    }
}

// Styles
.appbar {
    width:100%;
	height: inherit;
	padding: 0 $GapSideBase;
    padding-top:var(--safeTop);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	.appbar_left {
		display:flex;
		align-items: center;
		flex:0 1 auto;
		overflow: hidden;
		width:100%;
	}
	.appbar_right {
		display:flex;
		align-items: center;
		flex:none;
        //(터치영역 32) - (아이콘크기 24) = (좌우빈공간 8 / 우측빈공간 0.4)
        margin-right:-0.4rem;
        >.btn.ico,
        >.tooltip {
            margin-left:1.6rem;
        }
	}
	h1 {
		flex:0 1 auto;
		overflow: hidden;
		display:block;
		strong {
			@include FontTitle18;
			@include Ellipsis1;
		}
	}

    // Cases
	&.profile {
		.avata_area {
            display:flex;
            align-items: center;
			.avata {
				width:3.2rem;
				height:3.2rem;
				margin-right:0.8rem;
			}
        }
	}
	&.titles {
		h1 {
			span {
				@include FontBody12;
				color:$ColorSubTxt;
			}
		}

	}
}
.theme_secondary {
    .appbar {
        background-color: $ColorSecondary;
        color:#fff;
    }
}
.theme_dark {
    .appbar {
        background-color: #000;
        color:#fff;
    }
    &.gap_none {
        .appbar {
            background-color: transparent;
        }
    }
}

// Scroll Type1 - Main Appbar
.appbar.profile {
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 2px 1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.06);
    transform: translateY(0);
    h1 {
        color:#000;
    }
}
.theme_secondary {
    .appbar.profile {
        background-color:$ColorSecondary;
        box-shadow:none !important;
        h1 {
            color:#fff;
        }
    }
}
.is_scroll_down {
    .main_wrapper {
        .appbar.profile {
            transform: translateY(-100%);
            box-shadow: none;
        }
    }
}

// Scroll Type2 - Submain Appbar
.is_scrolled {
    .submain_wrapper:not(.has_sticky) {
        .appbar {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 2px 1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.06);
        }
    }
}
.is_scroll_down {
    .submain_wrapper:not(.has_sticky) {
        .appbar {
            transform: translateY(-100%);
            box-shadow: none;
        }
    }
}
.is_scroll_up {
    .submain_wrapper:not(.has_sticky) {
        .appbar {
            transform: translateY(0);
        }
    }
}

// Scroll Type3 - Submain Appbar + Tab
.is_scrolled {
    .submain_wrapper.has_sticky {
        .appbar {
            position: absolute;
            box-shadow: none;
        }
        .sticky {
            position: sticky;
            top:var(--safeTop);
        }
    }
}

// Scroll Type4 - Sub Appbar Title
.is_scrolled {
    .sub_wrapper:not(.gap_none) {
        .appbar {
            position: fixed;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 2px 1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.06);
        }
    }
}

// Scroll Type5 - Sub Appbar Title + Sticky(Tab)
// Scroll Type7 - Sub Appbar Title + Sticky(Search)
.sub_wrapper.has_sticky {
    .appbar{
        box-shadow: none !important;
    }
    .sticky {
        position: sticky;
        top:calc(5.2rem + var(--safeTop));
    }
}

// Scroll Type6 - Sub Appbar Title Transition
.sub_wrapper {
    .appbar {
        .transition {
            opacity: 0;
            transition: all 0.2s ease;
        }
        &.is_transition {
            .transition {
                opacity: 1;
            }
        }
    }
}

// Scroll Type7 - Sub Appbar Sticky + Gapnone
.sub_wrapper.has_sticky.gap_none {
    .header,
    .content_head {
        position: fixed;
        top:0;
        left:0;
    }
    .sticky {
        top:20.2rem;
    }
}

// Appbar Buttons
.appbar {
    .btn.text {
        margin-left:0.8rem;
        padding:1rem 0.4rem;
        & + .btn.text {
            margin-left:1.6rem;
        }
    }
    .btn.ico {
        flex:none;
        // 빈공간을 포함하는 선에서 터치영역을 키움.
        // 이미지영역 24 + 타이틀간격 8 = 권장 최대크기 32
        width:3.2rem;
        height:3.2rem;
        padding:0;
        &::before {
            width:2.4rem;
            height:2.4rem;
        }
        &.close {
            justify-content: flex-start;
            &::before {
                background-image:url('../img/icons_24_ic_close_black.svg');
            }
        }
        &.back {
            justify-content: flex-start;
            &::before {
                background-image:url('../img/icons_24_ic_back_black.svg');
            }
        }
        &.alim::before {
            background-image:url('../img/icons_24_ic_alarm_black.svg');
        }
        &.alim.is_active::before {
            background-image:url('../img/icons_24_ic_alarm_noti_black.svg');
        }
        &.more::before {
            background-image:url('../img/icons_24_ic_more_black.svg');
        }
        &.cubelist::before {
            background-image:url('../img/icons_24_ic_cubelist_black.svg');
        }
        &.srch::before {
            background-image:url('../img/icons_24_ic_search_black.svg');
        }
        &.learning::before {
            background-image:url('../img/icons_24_ic_learning_black.svg');
        }
        &.info::before {
            background-image:url('../img/icons_24_ic_information_black.svg');
        }
        &.setting::before {
            background-image:url('../img/icons_24_ic_settings_black.svg');
        }
        &.home::before {
            background-image:url('../img/icons_24_ic_main_black.svg');
        }
        &.drawer::before {
            background-image:url('../img/icons_24_ic_menu_black.svg');
        }
        &.bookmark::before {
            background-image:url('../img/icons_24_ic_bookmark_off_on_2.svg');
        }
        &.bookmark.is_active::before {
            background-position-y: bottom;
        }
    }
}
.theme_secondary {
    .appbar {
        .btn.ico {
            &.alim::before {
                background-image:url('../img/icons_24_ic_alarm_noti_off_on.svg');
            }
            &.alim.is_active::before {
                background-position-y: bottom;
            }
            &.srch::before {
                background-image:url('../img/icons_24_ic_search_white.svg');
            }
        }
    }
}
.theme_dark {
    .appbar {
        .btn.ico {
            &.close::before {
                background-image:url('../img/icons_24_ic_close_white.svg');
            }
            &.back::before {
                background-image:url('../img/icons_24_ic_back_white.svg');
            }
            &.alim::before {
                background-image:url('../img/icons_24_ic_alarm_noti_off_on.svg');
            }
            &.alim.is_active::before {
                background-position-y: bottom;
            }
            &.more::before {
                background-image:url('../img/icons_24_ic_more_white.svg');
            }
            &.cubelist::before {
                background-image:url('../img/icons_24_ic_cubelist_white.svg');
            }
            &.srch::before {
                background-image:url('../img/icons_24_ic_search_white.svg');
            }
            &.learning::before {
                background-image:url('../img/icons_24_ic_mybox_noti_off_on.svg');
            }
            &.learning.is_active::before {
                background-position-y: bottom;
            }
            &.bookmark::before {
                background-image:url('../img/icons_24_ic_bookmark_off_white.svg');
                background-position-y: bottom;
            }
            &.bookmark.is_active::before {
                background-image:url('../img/icons_24_ic_bookmark_off_on_2.svg');
                background-position-y: bottom;
            }
        }
    }
}