// Default
.sub_wrapper,
.submain_wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	.header {
		flex: none;
	}
	.container {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		.content_head {
			flex: none;
			width:100%;
			z-index:50;
		}
		.content_body {
			position: relative;
			display: flex;
			flex-direction: column;
			flex: 1 0 auto;
		}
		.content_foot {
			flex: none;
		}
	}
}

// 페이지 여백 공통화
.content_body {
	padding-bottom:4rem;	
}
.has_floating .content_body {
	padding-bottom:0.8rem;
}
//tab_panel의 경우 background-color 가 #000이 아님
.content_body .tab_panel {
	margin-bottom : -4rem;
	padding-bottom : 4rem;
}

// Styles
.sub_wrapper,
.submain_wrapper {
	// Container
	.container {
		width: 100%;
		margin: 0;
		padding-top: var(--safeTop);
		padding-bottom: var(--safeBottom);
		@include FontBody14;
		.content_body {
			padding-left: $GapSideBase;
			padding-right: $GapSideBase;
		}
	}
	.btn.ico.top {
		visibility: hidden;
		position: fixed;
		right:2rem;
		bottom:2rem;
		z-index: 200;
		opacity: 0;
		pointer-events: none;
	}
	&.has_floating {
		.btn.ico.top {
			bottom:9.6rem;
		}
	}
	&.has_expand {
		.btn.ico.top {
			bottom:9.6rem;
		}
	}
	&.has_appnav {
		.btn.ico.top {
			bottom:$HeightAppNav + 2rem;
		}
	}
	&.gap_none {
		.container {
			padding-top:0;
		}
	}
}
.is_scrolled {
	.btn.ico.top {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
	}
}

.submain_wrapper {
	.container {
		padding-top:0;
	}
}

.tab_panel .task_board{
	margin-left : - $GapSideBase;
	margin-right : - $GapSideBase;
	padding-left : $GapSideBase;
	padding-right : $GapSideBase;
}