
///////////////////////////////////////////////////
// Components
///////////////////////////////////////////////////

// Learning Section
.learning_sec {
	margin-top:5.2rem;
	&:first-child {
		margin-top:0;
	}
	.sec_head + .sec_body {
		margin-top:1.6rem;
	}
	.heading3 {
		margin-top:1.6rem;
		&:first-child {
			margin-top:0;
		}
	}
	.heading3 +	.sec_cont {
		margin-top:0.4rem;
		padding-left:0.7rem;
	}
}

// 학습과정 썸네일
.learning_thumb {
	position:relative;
	background-color: #ddd;
	&::before {
		content:"";
		display:block;
		position: absolute;
		left:0;
		top:0;
		bottom:0;
		width:100%;
	}
	.overay_area {
		display:flex;
		justify-content: center;
		position:relative;
		width:100%;
		padding:0 $GapSideBase 3.2rem;
        padding-top:$HeightAppBar + 0.4rem;
		background-color: rgba(17, 17, 17, 0.75);
		.title_area {
			text-align: center;
			color:#fff;
			.sub_txt {
				@include FontBody13;
				color:inherit;
			}
			.title {
				@include FontTitle22;
				color:inherit;
				&.line1 { @include FontTitle22; }
				&.line2  { @include FontTitle20; }
				&.line3 { @include FontTitle18; }
			}
		}
		.info_area {
			display:flex;
			justify-content: center;
			align-items: center;
			color:#fff;
			margin-top:2rem;
			.label {
				&::before {
					margin-right:0.4rem;
				}
				& + .label {
					margin-left:2rem;
				}
			}
		}
	}
}

// 학습과정 관련배치
.badgelist_white {
    border-bottom:1px solid #f2f3f5;
    .badge_body {
        .badge_title {
            color:#000;
            .badge_title {
                @include Ellipsis1;
            }
        }
    }
}
.learning_badge {
	height:7rem;
	background-color: #fff;
	.badge_body {
		display:flex;
		align-items: center;
		width:100%;
		height:inherit;
		padding:1.5rem 2.4rem 1.5rem 1.4rem;
		.badge_thumb {
			position: relative;
			display:flex;
			justify-content: center;
			width:5rem;
			height:4rem;
			margin-right:1.2rem;
			flex:none;
			.thumb {
				flex:none;
				position: relative;
				width:4rem;
				z-index: 10;
			}
			.thumb + .thumb {
				margin-left:-3rem;
				z-index: 9;
			}
		}
		.badge_title {
			width:100%;
			flex:0 1 auto;
			overflow: hidden;
			color:#000;
			.sub_txt {
				@include FontBody13;
				color:#fff;
			}
			.title {
				display:flex;
				flex:0 1 auto;
				strong {
					flex:0 1 auto;
					@include FontTitle13;
					@include Ellipsis1;
				}
				.other {
					flex:none;
					@include FontBody13;
				}
			}
		}
		&::after {
			content:"";
			display:block;
			width:0.6rem;
			height:1.3rem;
			background-color: #ddd;
			margin-left:2rem;
		}
	}
}
.theme_dark {
	.learning_badge {
		background-color: #000;
		.badge_body {
			.badge_title {
				color:#fff;
			}
		}
	}
}

// 뱃지 복수리스트
.learning_badge_list {
	.badge_item {
		border-bottom:1px solid #f2f3f5;
		.badge_body {
			display:flex;
			align-items: center;
			width:100%;
			height:inherit;
			padding:1.4rem 2.8rem 1.5rem 0;
			.badge_thumb {
				position: relative;
				display:flex;
				justify-content: center;
				width:4rem;
				height:4rem;
				margin-right:1.2rem;
				flex:none;
				.thumb {
					flex:none;
					position: relative;
					width:4rem;
					z-index: 10;
				}
			}
			.badge_title {
				width:100%;
				flex:0 1 auto;
				overflow: hidden;
				color:#000;
				.sub_txt {
					@include FontBody13;
					color:#fff;
				}
				.title {
					display:flex;
					flex:0 1 auto;
					strong {
						flex:0 1 auto;
						@include FontBody14;
						@include Ellipsis1;
					}
				}
			}
			&::after {
				content:"";
				display:block;
				width:0.6rem;
				height:1.3rem;
				background-color: #ddd;
				margin-left:2rem;
			}
		}

	}
}

// 학습과정 관련강사
.teacher_item {
	background-color: #fff;
	color:#1C1D1F;
	border-bottom:1px solid #f2f3f5;
	.teacher_inner {
		display:flex;
		align-items: center;
		width:100%;
		height:inherit;
		padding:1.6rem 0 1.6rem 0;
		.teacher_avata {
			position: relative;
			display:flex;
			justify-content: center;
			width:5.2rem;
			height:5.2rem;
			margin-right:1.2rem;
			flex:none;
			.avata {
				width:100%;
				height:100%;
			}
		}
		.teacher_body {
			width:100%;
			flex:0 1 auto;
			// overflow: hidden;
			.title {
				position: relative;
				display:inline-flex;
				flex:0 1 auto;
				strong {
					flex:0 1 auto;
					@include FontTitle14;
					@include Ellipsis1;
					color: #1C1D1F;
				}
				.label {
					position:absolute;
					top:50%;
					left:calc(100% +  0.4rem);
					color:$ColorSubTxt;
					transform: translateY(-50%);
				}
			}
			.sub_txt {
				margin-top:0.4rem;
				@include FontBody14;
			}
		}
		&::after {
			content:"";
			display:block;
			width:0.6rem;
			height:1.3rem;
			background-color: #ddd;
			margin-left:2rem;
		}
	}
}
.theme_dark .teacher_item {
	border-bottom:1px solid #25272b;
	background-color: #151617;
	.teacher_inner .teacher_body .title strong,
	.teacher_inner .teacher_body .sub_txt {
		color:#F8F8FA;
	}
 }

// 학습리스트
.cube_item {
    // Layout
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;

	.item_body {
		position: relative;
		display: flex;
		width:100%;
		align-items: center;
	}
	.item_thumb {
		flex: none;
	}
	.item_title {
		flex: 1 1 auto;
	}
	.item_foot {
		flex: none;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.sub_txt {
		@include FontBody14;
		color:$ColorSubTxt;
	}

	// Cases
	&.has_check {
		.item_body {
			width:calc(100% - 3.2rem);
		}
	}

    // Styles
    border-bottom: 1px solid #F2F3F5;
    .item_body {
        padding:2rem 0;
        &::after {
            content:"";
            display:block;
            width:0.6rem;
            height:1.3rem;
            margin-left:2rem;
            background-color: #ddd;
        }
    }
    .item_thumb {
        flex:none;
        width:4rem;
        height:4rem;
        margin-right:1.2rem;
        .ui.label.played {
            position:relative;
            display:flex;
            justify-content: center;
            align-items: center;
            padding:0;
            width:100%;
            height:100%;
            border-radius: 50%;
            background-color: #eee;
            &::after {
                content:"";
                display:block;
            }
        }
    }
    .item_title {
        flex:0 1 auto;
        width:100%;
        overflow: hidden;
        .title {
            @include FontBody14;
        }
        .sub_txt {
            margin-top:0.4rem;
            display:flex;
            align-items: center;
            .split {
                @include SplitBar;
            }
        }
    }

    // Case Type
    &.video {
        .item_thumb .ui.label.played::after {
            width:1.6rem;
            height:1.8rem;
            background-color: #666;
        }
        &.is_state3 .item_thumb .ui.label.played::after {
            background-color: #000;
        }
    }
    &.test {
        .item_thumb .ui.label.played::after {
            width:1.6rem;
            height:1.8rem;
            background-color: #666;
        }
        &.is_state3 .item_thumb .ui.label.played::after {
            background-color: #000;
        }
    }
    &.report {
        .item_thumb .ui.label.played::after {
            width:1.6rem;
            height:1.8rem;
            background-color: #666;
        }
        &.is_state3 .item_thumb .ui.label.played::after {
            background-color: #000;
        }
    }
    &.survay {
        .item_thumb .ui.label.played::after {
            width:1.6rem;
            height:1.8rem;
            background-color: #666;
        }
        &.is_state3 .item_thumb .ui.label.played::after {
            background-color: #000;
        }
    }

    // Case Disabled
    &.is_disabled {
        .item_inner {
            pointer-events: none;
            &::after {
                display:none;
            }
        }

    }

    // Case Repley
    &.is_repley .item_body::before {
         content:"";
         display:block;
         width:1.6rem;
         height:1.6rem;
         background-color: #ddd;
         margin-bottom:1.6rem;
         margin-right:0.8rem;
    }
}

// 학습리스트 아코디언
.cube_acco {
	width:auto;
	max-width:none;
	margin-left:-$GapSideBase;
	margin-right:-$GapSideBase;
	.acco_title::after {
		content:"";
		display:block;
		position:absolute;
		right:2rem;
		top:calc(50% - 0.6rem);
		width:0.6rem;
		height:1.3rem;
		margin-left:1.4rem;
		background-color: #ccc;
	}
	.acco_title.is_active::after {
		background-color: #666;
	}
	.acco_content {
		padding:0 $GapSideBase;
	}
	.cube_expand {
		display:flex;
		align-items: center;
		position: relative;
		padding:2rem 4.6rem 2rem 2rem;
		background-color: #F8F8FA;
		.expand_body {
			flex:0 1 auto;
			width:100%;
			overflow: hidden;
			.title {
				padding:0;
				@include FontTitle16;
				@include Ellipsis1;
			}
			.sub_txt {
				margin-top:0.4rem;
				em {
					color:$ColorPrimary;
				}
			}
		}
	}
}

// Cube Overview
.cube_overview {
	margin-top:2rem;
	display:flex;
	padding:2rem 2rem;
	background-color: #F8F8FA;
	border-radius: $RadiusLarge;
	color:#1C1D1F;
	ul {
		flex:0 1 auto;
		width:100%;
		li {
			position:relative;
			padding-left:2.4rem;
			&::before {
				content:"";
				position:absolute;
				left:0;
				top:0.2rem;
				width:1.6rem;
				height:1.6rem;
				background-color: #ddd;
				display:block;
			}
		}
	}
	.btn.arw_link {
		margin-left:1.2rem;
		margin-top:auto;
		padding:0;
	}
}
.theme_dark .cube_overview {
	background-color: #1C1D1F;
	color:#F8F8FA;
	ul li::after {
		background-color: #ddd;
	}
}

// Cube References
.cube_references {
	display:flex;
	padding:1.6rem 2rem;
	border:1px solid #E3E4E5;
 	border-radius: $RadiusLarge;
	color:#44464A ;
	.references_body {
		flex:0 1 auto;
		width:100%;
		@include FontBody12;
		.bytes {
			color:#A4A6AA;
		}
	}
	.references_util {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		flex:none;
		margin-left:1.8rem;
		.btn.ico::before {
			width:1.7rem;
			height:1.7rem;
			background-color: #ddd;
		}
	}
}
.theme_dark .cube_references {
	background-color: #151617;
	border-color: #44464A;
	color:#E3E4E5;
	.references_body .bytes {
		color:$ColorSubTxt;
	}
	.references_util {
		.btn.ico::before {
			background-color: #ddd;
		}
	}
}


// Cube Infolist
.cube_infolist {
	display:block;
	padding:2rem 2rem;
 	background-color: #F8F8FA;
	border-radius: $RadiusLarge;
	color:#fff;
	.label {
		margin-bottom:0.5rem;
	}
	.item {
		padding:0.2rem 0 0;
		.date {
			color:$ColorSubTxt;
			margin-left:1rem;
			font-weight: 700;
		}
	}
}
.theme_dark .cube_infolist {
	background: #25272B;
	color:#F8F8FA;
	.item .date {
		color:#A4A6AA;
	}
}

// Cube Report
.cube_report {
	.report_toolbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom:0.8rem;
		.date {
			@include FontBody12;
			color:$ColorSubTxt;
		}
		.label.style1:not(.primary) + .date {
			color:$ColorPrimary;
		}
	}
	.report_body {
		display:block;
		padding:2rem 2rem;
		border:1px solid #E3E4E5;
 		border-radius: $RadiusLarge;
		color:#44464A;
	}
	.report_title {
		.title {
			@include Ellipsis4;
		}
	}
	.report_attach {
		margin-top:1.2rem;
		display: flex;
		@include FontBody12;
		.attach_title {
			flex:none;
			margin-right:0.8rem;
			.title {
				color:#A4A6AA;
				&::before {
					content:"";
					display:block;
					width:1.2rem;
					height:1.2rem;
					background-color: #555;
				}
			}
		}
		.attach_files {
			flex:0 1 auto;
			overflow: hidden;
			color:$ColorSubTxt;
			.item {
				display:flex;
				strong {
					flex:0 1 auto;
					@include Ellipsis1;
				}
				span {
					display:block;
					flex:none;
				}
			}
		}
	}
}
.theme_dark .cube_report {
	.report_body {
		background-color: #151617;
		border:0;
		color:#F8F8FA;
	}
}

// 차수목록 아코디언
.degree_list {
	.degree_sort {
		display:flex;
		align-items: center;
		width:100%;
		padding: 0 2rem;
		color:$ColorSubTxt;
		margin-bottom:0.6rem;
		.title {
			flex:none;
			display:block;
			width:7.7rem;
			margin-right:0.8rem;
		}
		.date {
			display:block;
			width:100%;
			flex:1 1 auto;
		}
	}

	.degree_acco {
		background-color: #151617;
		.acco_title {
			border-bottom:1px solid #25272B;
			&::after {
				content:"";
				display:block;
				position: absolute;
				right:1.3rem;
				top:calc(50% - 0.2rem);
				width:1rem;
				height:0.5rem;
				background-color: #ccc;
			}
		}
		.degree_expand,
		.degree_item {
			display:flex;
			align-items: center;
			width:100%;
			.title {
				flex:none;
				display:block;
				width:7.7rem;
				color:#fff;
				margin-right:0.8rem;
			}
			.date {
				display:block;
				width:100%;
				flex:1 1 auto;
				color:#A4A6AA;
			}
			& + .degree_item {
				margin-top:0.4rem;
			}
		}
		.degree_expand {
			position: relative;
			height:4.6rem;
			padding:0 4.6rem 0 2rem;
			font-weight: 400;
		}
		.degree_body {
			padding:1.6rem 2rem;
			background-color: #25272B;
		}
	}
	// Cases
	&.has_check {
		.degree_sort {
			padding-left:0.4rem;
			.title {
				width:3.1rem;
				text-align: center;
				margin-left:4rem;
				margin-right:3rem;
			}
		}
		.degree_expand {
			padding-left:0.4rem;
		}
		.radio {
			margin-right:2rem;
		}
		.radio + .title {
			width:3.1rem;
			margin-right:3rem;
			text-align: center;
		}
	}

}
.theme_dark .degree_list .degree_acco .degree_expand .title,
.theme_dark .degree_list .degree_acco .degree_item .title {
	color:#F8F8FA;
}

//나의 코멘트
.my_commentinfo {
    border-radius: $RadiusLarge;
    @include FontBody13;
    padding:2rem;
    display: flex;
    .left {
        width:50%;
        display: flex;
        .txt {
            margin:0.2rem 0 0 1rem;
        }
    }
    .right {
        width:50%;
        text-align: right;
        @include FontBody14;
        .count_my {
            font-weight: 800;
            color:#ff664d;
        }
    }
}
.theme_dark {
	.my_commentinfo {
		background-color: #151617;
		color:#F8F8FA;
	}
}
//관련url
.link_wrap {
    .sub_title {
        font-weight: 700;
        margin-bottom:0.5rem;
    }
    .link_url {
        border-radius: $RadiusLarge;
        @include FontBody13;
        padding:2rem;
		color:#33353C;
        .link_body {
            display: flex;
            .link_thumb {
                width:5.2rem;
                height:5.2rem;
                background-color:#eee;
                margin-right:1.2rem;
                flex: none;
            }
            .link_title {
                flex:0 1 auto;
                overflow: hidden;
                .title {
                    @include Ellipsis2;
                }
                .url {
                    @include Ellipsis1;
                    @include FontBody10;
					color:#A4A6AA;
                }
            }
        }
    }
}
.theme_dark {
    .link_wrap {
        .sub_title {
            color:#75777B;
        }
        .link_url {
            background-color: #151617;
            color:#F8F8FA;
			.link_body {
				.link_title {
					.url {
						color: #75777B;
					}
				}
			}
        }
    }
}

//게시물
.post_sec {
    .post_head {
		display: flex;
        .left {
            width:70%;
            display: flex;
            .avata {
                width:3.2rem;
                height:3.2rem;
                flex: none;
            }
            .user_id {
                @include FontBody13;
                font-weight: 700;
                margin: 0.3rem 0.8rem 0
            }
            .write_time {
                @include FontBody13;
                color: #75777B;
				display: flex;
                margin-top:0.3rem;
				&::after {
					content:"";
					position: relative;
					top:calc(50% - 0.9rem);
					left:0.8rem;
					width:1rem;
					height:1rem;
					background-color: #ccc;
				}
            }
        }
        .right {
            width:30%;
			.btn {
				padding:0 0.8rem 0 0;
				float:right;
				&::after {
					content:"";
					display:block;
					width:2rem;
					height:2rem;
					background-color: #ccc;
				}
			}
        }
    }
    .post_body {
        padding-left:4rem;
        .post_main {
            border-radius: 0 8px 8px 8px;
            @include FontBody14;
            padding:2rem;
            .post_txt {
				border-bottom:1px solid #1C1D1F;
				padding-bottom:1.5rem;
                position: relative;
                .txt {
                    @include Ellipsis7;
                }
				.more {
					padding:0;
				}
				&.is_expanded {
					.txt {
						display:block;
						overflow: visible;
					}
				}
            }
            .post_btn {
				width:100%;
                padding:1.5rem 0 0;
				color:#75777B;
				@include FontBody12;
				display: flex;
                .left {
					width:75%;
                    display: flex;
                    .comment {
                        .no {
							color:#FF664D;
							font-weight:700;
                        }
                    }
                    .comment_write {
						margin-left:3rem;
						display: flex;
						&::before {
							content:"";
							position: relative;
							top:calc(50% - 0.5rem);
							width: 2rem;
							height:1rem;
							margin-right:0.5rem;
							background-color: #ccc;
						}
                    }
                }
                .right {
					width:25%;
					display: flex;
					.btn_wrap {
						display: flex;
						.like {
							position:relative;
							width: 1.5rem;
							height: 1.5rem;
							background:url() #eee;
							margin-top:0.1rem;
						}
						.like_no {
							margin-left:0.5rem;
						}
					}
				}
            }
        }
    }
}
.theme_dark {
    .post_sec {
        .post_body {
			.post_head {
				.left {
					.user_id {
						color:#fff;
					}
				}
			}
            .post_main {
                background-color: #000;
                color:#F8F8FA;
                .post_txt {
                   .btn.more {
                       color:#A4A6AA;
                    }
                }
            }
        }
    }
}


///////////////////////////////////////////////////
// Pages
///////////////////////////////////////////////////
.learningContents {
	padding-bottom: 1.6rem;
}
.learningOverview {
	padding-bottom: 5.2rem;
}
.modal_badgelist {
	.modal_content {
		padding-bottom:3rem;
	}
}